/*-----------------[初始化]--------------*/
body{
	color: #666;font-size: 12px;
	font-family:"微软雅黑","Microsoft Yahei";
	min-width: 1200px;
	background: #F6F6F6;
}
a{
	color: #666;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
a:hover{color: #FD5001 ;}
img,.ani{
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
input,textarea,select{font-size: 12px;color: #666;font-family:"微软雅黑","Microsoft Yahei";}
*{outline: none;}
/*布局*/
.wp{width: 1200px;margin: 0 auto;}
.h50{height: 50px;clear: both;overflow: hidden;}
.h100{height: 100px;clear: both;overflow: hidden;}



/*******************************
    -------[=头部]-------
********************************/
.head-top{
	position: relative;z-index: 9;
	line-height: 30px;height: 30px;
	background: #f2f2f2;color: #ddd;
	border-bottom: 1px solid #ddd;
}
.head-top .btn{
	float: left;cursor: pointer;color: #666;position: relative;
	background: url(../images/pc-main/icon-3.png) no-repeat 77px center;
	padding: 0 28px 0 20px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom:  1px solid transparent;
	margin-bottom: -1px;
}
.head-top .option{
	display: none;background: #fff;
	position: absolute;right: -1px;top: 31px;
	background: #fff;border: 1px solid #ddd; border-top: none;
	width: 100%;text-align: center;
}
.head-top .option2{width: 140px;padding:0 5px 10px 20px;}
.head-top .option dl{overflow: hidden;text-align: left;}
.head-top .option dt{font-size: 14px;font-weight: bold;margin-top: 10px;}
.head-top .option dd{width: 50%;float: left;overflow: hidden;}
.head-top .option a{display: block;line-height: 30px;}
.head-top .option3{position: absolute;width: 1088px;right: -68px;padding: 20px 0;}
.head-top .option3 dl{width: 31%;padding-left: 2%;float: left;border-right: 1px solid #ddd;height: 125px;overflow: hidden;}
.head-top .option3 dl.last{border: none;}
.head-top .option3 dt{margin: 0;}
.head-top .option3 dd{width: 25%;}

.head-top .btn:hover{
	border-color: #ddd;
	border-bottom-color: #fff;
	background-color: #fff;
}
.head-top .btn2{padding: 0 12px 0 30px;background: url(../images/pc-main/ico-5.png) no-repeat 10px center;}
.head-top .btn3{padding: 0 24px 0 11px;background-position: 64px center;}
.head-top .btn4{background: none;padding-right:21px;}

.head-top .login{font-size: 12px;float: left;}
.head-top .login a{margin-right: 15px;}
.head-top .login a:hover{text-decoration: underline;}

.msgcount{
	display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background: #FD5001  no-repeat center;
    padding: 0px 5px;
    border-radius: 10px;
}

.btn.btn1{
	padding:0 21px 0 31px;margin-left: 15px;
	background: url(../images/pc-main/icon-4.png) no-repeat 0 center;
}

#city-box1{
	display: none;
	padding: 10px;background: #fff;
	position: absolute;left: 0;top: 31px;
	border: 1px solid #ddd;border-top: none;
	width: 820px;
}
#city-box1 dd{float: left;margin: 0 5px;}
#city-box1 dd a{display: inline-block;padding: 0 10px;}
#city-box1 dd.on a,#city-box1 dd a:hover{background: #FD5001 ;color: #fff;}

.head-con{height: 142px;}
.head-con .logo a{float: left;width: 208px;box-shadow: 1px 0 8px #999;padding-top:50px;}
.head-con .logo img{display: block;margin-top: -1px;}

/*搜索*/
.head-center{float: left;padding-top: 75px;width: 670px;margin-right: 25px;    position: relative; z-index: 1;}
.head-center .search{padding-left: 118px;}
.head-center .search .form{position: relative;}
.head-center .search .inner{overflow: hidden;}
.search-list {
	display: none;
	position: absolute;
	top: 34px;
	left: 0;
	background-color: #fff;
	z-index: 10;
	overflow: hidden;
	line-height: 26px;
	font-size: 14px;
	color: #333;
	border: 1px solid #eee;
}
.ul-search {
	float: left;
	width: 311px;
	background-color: #fff;
	margin-bottom: -100px;
	padding-bottom: 100px;
}
.ul-search a {
	padding: 0 5px;
	color: #333;
	display: block;
	background:  no-repeat 300px center;
}
.list-box {
	float: left;
	width: 204px;
	margin-bottom: -100px;
	padding: 0 16px 100px 17px;
	background-color: #f8f8f8;
	border-left: 1px solid #eee;
}

.ul-list-s {
	display: inline-block;
	overflow: hidden;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
.ul-list-s li {
	float: left;
	width: 66px;
	line-height: 24px;
	text-align: center;
	margin: -1px 0 0 -1px;
	border: 1px solid #eee;
}
.ul-list-s li a {display: block;}
.list-box dt,.list-box dd {margin-bottom: 5px;}
.ul-search li:hover{
	background-color: #eee;
	cursor: pointer;
}
.ul-search li.on {
	background-color: #eee;
}
.head-center .search .inp{
	float: left;
	width: 479px;line-height: 33px;height: 33px;
	padding: 0 10px;border: 1px solid #FD5001 ;
}
.head-center .search .sub{
	float: left;width: 50px;height: 35px;border: none;
	background:#FD5001 url(../images/pc-main/icon-1.png) no-repeat center;
	cursor: pointer;
}
.head-center .hot{display: block;}
.head-center .hot a{line-height: 30px;color: #999;margin-right: 20px;}
.head-center .hot a:hover{color: #FD5001 ;}
/*搜索*/

/*主导航*/
.nav{overflow: hidden;padding-left: 5px;padding-top: 18px;width: 850px;}
.nav li{float: left;}
.nav li a{display: block;padding: 0 10px;font-size: 16px;color: #4a4a4a;font-weight: bold;}
.nav li a:hover{color: #FD5001 ;}
/*主导航*/
.head-right{float: left;padding-top: 60px;}
.head-right .shopping{
	float: left;
	line-height: 34px;border: 1px solid #ddd;
	padding: 0 30px 0 68px;color: #000;margin-top: 15px;
	background: #fff url(../images/pc-main/icon-2.png) no-repeat 42px center;
}
.head-right .shopping em{
	display: inline-block;vertical-align: top;margin-top: 5px;
	width: 16px;height: 16px;
	text-align: center;line-height: 16px;color: #fff;
	background: url(../images/pc-main/icon-5.png) no-repeat center;

}
.head-right .erweima{float: left;margin-left: 40px;border: 1px solid #ddd;padding: 3px;}
.head-right .erweima img{display: block;z}
.head-right .pic{clear: both;padding-top: 15px;text-align: right;position: relative;z-index: -100;}

/*******************************
    -------[=右边栏]-------
********************************/
.sidebar{position:fixed;right:0;top:0;z-index:1000;width:35px;height:100%;}
.ibar-main-panel{position:absolute;right: 0;top:0;width:6px;height:100%;background: #FD5001 ;}
.ibar-main-panel .ibar-menu{position:absolute;left:0;width:35px;height:35px;}

.ibar-box-t{position:absolute;top:30%;right: 0;width:35px;height:190px;}
.ibar-box-b{position:absolute;bottom: 80px;right: 0;width:35px;height:100px;}

.ibar-main-panel .ibar-menu .btn{width:35px;height:35px;}
.ibar-main-panel .ibar-menu a.btn-a i,
.ibar-main-panel .ibar-menu a.btn-a-on i{display:inline-block;width:35px;height:35px;}
.ibar-main-panel .ibar-menu .btn a{display:block;width:100%;height:100%;}
.ibar-main-panel .ibar-menu .btn a:hover{background:#FD5001 ;}

/* 购物车 */
.ibar-main-panel .side-car{position:absolute;height: 100px;}
.side-car .car-btn{text-align:center;cursor:pointer;display: inline-block;
    width: 23px;padding: 0 5px;
}
.side-car .car-btn .bor{border-bottom:1px solid #474747;padding: 17px 0 13px;
    border-top: 1px solid #474747;
}
.side-car .car-btn i{display: block;width:23px;height:17px;background:url(../images/pc-main/fr-cart.png) no-repeat center;}
.side-car .car-btn span{padding-top: 5px;display:inline-block;width:22px;text-align:center;color:#fff;font-size: 12px;}
.side-car .car-btn em{display: inline-block;padding: 0 6px;margin: 5px;color: #FF2732;background: #FFF;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px; }
.side-car .car-btn:hover{background: #DB0009;}
.side-car .car-btn:hover .bor{border: 0;padding: 18px 0 14px;}
.side-car .car-btn:hover i{background:url(../images/pc-main/fr-cart-h.png) no-repeat center;}

.ibar-main-panel .menu-favor{top:110px;}
.ibar-main-panel .menu-favor2{top:147px;}
.ibar-main-panel .menu-favor3{top:184px;}
.ibar-main-panel .menu-favor4{top:221px;}
.ibar-main-panel .menu-favor5{top:0px;}
.ibar-main-panel .menu-favor6{top:37px;}

.icon-favor{background:#FD5001 url(../images/pc-main/icon-6.png) no-repeat center;}
.icon-favor2{background:#FD5001 url(../images/pc-main/icon-7.png) no-repeat center;}
.icon-favor3{background:#FD5001 url(../images/pc-main/icon-8.png) no-repeat center;}
.icon-favor4{background:#FD5001 url(../images/pc-main/icon-9.png) no-repeat center;}
.icon-favor5{background:#FD5001 url(../images/pc-main/icon-10.png) no-repeat center;}
.icon-favor6{background:#FD5001 url(../images/pc-main/icon-11.png) no-repeat center;}

 /* 弹出 */
.ibar-main-panel .slide-txt i{position:absolute;right:-8px;top:10px;
    display:inline-block;width:8px;height:15px;
    background:url('../images/pc-main/fr-arr.png') no-repeat 0 0;
}
.ibar-main-panel .slide-txt{display:none;position:absolute;right:85px;top:0;z-index:100;height:35px;width:100px;
    text-align:center;line-height:35px;color:#fff;background:#616161;
}
.ibar-main-panel .slide-txt a{color:#fff;}
.ibar-main-panel .side-qcode{display:none;position:absolute;right:33px;
    top:50%;margin-top: -50px;z-index:1000;
}

/*******************************
	-------[=浮动导航]-------
********************************/
.default-outer{
	display: none;
	width: 50px;position: fixed;text-align: center;
	left:20px;bottom: 50px;background: #fff;border-radius:8px;overflow: hidden;
	box-shadow: 1px 1px 10px #ddd;
}
.default-outer li{line-height: 14px;}
.default-outer a{display: block;line-height: 14px;padding:12px 0;color: #8f8f8f;}
.default-outer a:hover,.default-outer  a.on{background: #FD5001 ;color: #fff;}


/*******************************
    -------[=ind-row1]-------
********************************/

.ind-row1{overflow: hidden;clear: both;margin-bottom: 10px;}
.ind-row1 .col-l{float: left;width: 210px;margin-right: 12px;}
.ind-row1 .col-c{float: left;width: 737px;}
.ind-row1 .col-r{float: right;width: 216px;height: 554px;padding: 10px;background: #fff;}

.m-nav{padding: 15px 10px 0;background: #3bb4c7;height: 559px;}
.m-nav h3,.m-nav,.m-nav a{color: #fff;font-size: 13px;}
.m-nav h3
{line-height: 55px;
	font-size: 16px;
	height: 36px;
}
.m-nav p{line-height: 26px;font-size: 14px;}
.m-nav a:hover{text-decoration: underline;}

/*轮播大图*/
.fullSlide{width: 100%;height:423px; overflow:hidden; position:relative;}
.fullSlide .bd{position:relative; height:100%; z-index:0;   }
.fullSlide .bd li{
    width: 100%;height: 423px;
    zoom:1;
    background-position: center 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.fullSlide .bd a{ width:100%; display:block;  }
.fullSlide .hd{position: absolute;bottom: 20px;width: 100%;left:0;z-index:100;text-align:center; }
.fullSlide .hd ul{
	display:inline-block; *display:inline; zoom:1; padding: 0 10px;border-radius: 10px;
	height: 20px;background: url(../images/pc-main/icon-bg1.png) repeat 0 0;
}
.fullSlide .hd ul li{ cursor:pointer; float: left;
    width:12px; height:12px; margin:4px 5px;overflow:hidden; background: #fff;border-radius: 50%;
    line-height:999;
}
.fullSlide .hd ul .on{background: #3bb4c7;}

.ind-row1-pic{overflow: hidden;margin-top: 10px;}
.ind-row1-pic img{width: 364px;height: 141px;display: block;}
.ind-row1-pic a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.ul-row1-1{overflow: hidden;}
.ul-row1-1 li{float: left;margin-left: -1px;margin-top: -1px;}
.ul-row1-1 li a{
	display: block;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	text-align: center;
}
.ul-row1-1 img{display: block;width: 107px;height: 40px;}
.ul-row1-1 p{line-height: 20px;margin-bottom: 5px;}
.ind-row1-pic2 img{margin-top: 10px;display: block;width: 214px;height: 132px;}
.ind-row1-pic2 a:hover img{
	opacity:0.8;
	filter: alpha(opacity=80);
}

/*******************************
	-------[=ind-row2]-------
********************************/
.ind-row2{overflow: hidden;padding-bottom: 33px;}
.ind-row2 .time{
	float: left;width: 210px;height: 279px;
	background: url(../images/pc-main/lm-bg1.png) no-repeat center;
}

/*row2轮播图*/
.ul-row2{
	float: right;width:988px;height:275px; overflow:hidden; position:relative;
	background: #fff;border: 1px solid #ececec;
}
.ul-row2 .bd{}
.ul-row2 .bd ul{ overflow:hidden; zoom:1; }
.ul-row2 .bd ul li{float:left; _display:inline; overflow:hidden;width: 198px;height: 265px;border-left: 1px solid #ececec;margin-left: -1px;}
.ul-row2 .bd .pic{width: 100%;height: 200px;line-height: 196px;text-align:center;}
.ul-row2 .bd .pic img{vertical-align: middle;}
.ul-row2 .bd a:hover img{margin-top: -10px;height: 169px;width: 169px;}
.ul-row2 .txt{padding: 0 26px;overflow: hidden;}
.ul-row2 .tit{
	font-size: 14px;color: #333;line-height: 28px;
	white-space: nowrap;overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	height:28px;
}
.ul-row2 .money{font-size: 14px;color: #f23030;line-height: 28px;}
.ul-row2 .money span{font-size: 12px;color: #808080;margin-left: 12px;text-decoration: line-through;}

.ul-row2 .prev,.ul-row2 .next{
	cursor: pointer;
	display: inline-block;width: 20px;height: 50px;
    position: absolute;top:50%;margin-top: -38px;z-index: 100;
}
.ul-row2 .prev{left: 0;background:url(../images/pc-main/icon-12.png) no-repeat;}
.ul-row2 .next{right:0;background:url(../images/pc-main/icon-13.png) no-repeat;}
.ul-row2 .prev:hover,.ul-row2 .next:hover{opacity: 0.8;filter: alpha(opacity=80);}

.time-c{display: block;color: #fff;margin-top: 55px;margin-left: 17px;}
.time-c em{font-size: 16px;margin: 0 5px;letter-spacing:13px;}

/*******************************
	-------[=ind-row3]-------
********************************/

.find-item-1 {position: relative;display: block;}
.find-item-1 .tit {color: #a14971;top: 12px;font-size: 14px;}
.find-item-1 p {position: absolute;left: 17px;z-index: 1;}
.find-item-1 .p1 {color: #808080;top: 36px;}
.find-item-1 img {position: absolute;z-index: 0;}
.find-item-1:hover img {-webkit-transform: translateX(-5px); -moz-transform: translateX(-5px); -ms-transform: translateX(-5px); transform: translateX(-5px);}

.ind-row3{overflow: hidden;}
.ind-row3 > .col-l {width: 383px;background-color: #fff;}
.ind-row3 > .col-c {margin-top: 6px;width: 408px;border-left: 1px solid #f5f5f5;border-right: 1px solid #f5f5f5;background-color: #fff;}
.ind-row3 > .col-r {margin-top: 6px;width: 407px;background-color: #fff;}

.ind-row3-tit {position: relative;width: 383px; height: 297px; background-repeat: no-repeat; background-position: 0 0; }
.ind-row3-tit:after {position: absolute;right: -6px;top: 0;content: '';width: 6px;height: 6px;background: url(../images/pc-main/row3-triangle.png) no-repeat 0 0;}
.ind-row3-tit img {position: absolute;right: 0;bottom: 0;width: 250px;height: 250px;}
.ind-row3-tit p {position: absolute;bottom: 0;left: 0;width: 100%;height: 47px;line-height: 47px;text-align: center;background: url(../images/pc-main/row3-opacity1.png) repeat 0 0;}
.ind-row3-tit a {float: left;width: 33.333%;color: #a14971;}
.ind-row3-tit a:hover {background-color: #fff;}
.ind-row3-tit .ico {display: inline-block;width: 21px; height: 21px;background-repeat: no-repeat;background-image: url(../images/pc-main/ico-row3-1.png);margin-right: 9px;vertical-align: middle;}
.ind-row3-tit .a1 .ico {background-position: 0 0;}
.ind-row3-tit .a2 .ico {background-position: -127px 0;}
.ind-row3-tit .a3 .ico {background-position: -254px 0;}

.ind-row3-pic2 {border-bottom: 1px solid #f5f5f5;padding: 14px 19px;overflow: hidden;height: 117px;}
.ind-row3-ul {float: left;}
.ind-row3-ul a {color: #808080;line-height: 2;}
.ind-row3-ul a:hover {color: #000;}

.ind-row3-ul2 {overflow: hidden;}
.ind-row3-ul2 li {float: left;}
.ind-row3-ul2 li:first-child {border-right: 1px solid #f5f5f5;}
.ind-row3-ul2 .find-item-1 {display: block;width: 190px;height: 145px;}
.ind-row3-ul2 .p1 {width: 65px;}
.ind-row3-ul2 img {bottom: 3px;right: 5px;width: 100px;height: 100px;}

.ind-row3-pic4 .find-item-1 {width: 408px;height: 290px;border-bottom: 1px solid #f5f5f5;}
.ind-row3-pic4 .find-item-1 .tit {top: 60px;}
.ind-row3-pic4 .find-item-1 .p1 {top: 84px;}
.ind-row3-pic4 .find-item-1 img {right: 0;bottom: 21px;max-width: 240px;height: 240px;}

.ind-row3-a1 a,.ind-row3-a1 img {display: block;width: 204px;height: 146px;}
.ind-row3-a1 {overflow: hidden;border-bottom: 1px solid #f5f5f5;}
.ind-row3-a1 a {float: left;overflow: hidden;}
.ind-row3-a1 a:hover img {-webkit-transform: scale(1.03); -moz-transform: scale(1.03); -ms-transform: scale(1.03); transform: scale(1.03);}

.ind-row3-pic5 .find-item-1 {width: 408px;height: 145px;border-bottom: 1px solid #f5f5f5;}
.ind-row3-pic5 .find-item-1 img {right: 40px;bottom: 3px;max-width: 139px;height: 139px;}
.ind-row3-pic5 .find-item-1 .tit {top: 20px;}
.ind-row3-pic5 .find-item-1 .p1 {top: 44px;}

.ind-row3-ul2.ul3 .find-item-1 {height: 291px;width: 203px;}
.ind-row3-ul2.ul3 .find-item-1 .tit {top: 32px;}
.ind-row3-ul2.ul3 .find-item-1 .p1 {width: auto;top: 56px;}
.ind-row3-ul2.ul3 .find-item-1 img {max-width: 180px;max-height: 180px;width: auto;height: auto;}



.g-ind-list1 {overflow: hidden;background-color: #ecedf2;margin-bottom: 30px;font-size: 0;text-align: center;}
.g-ind-list1 li {display: inline-block;width: 98px;height: 55px;line-height: 55px;}
.g-ind-list1 img {vertical-align: middle;width: 70px;height: auto;}
.g-ind-list1 a:hover {opacity: .8;filter: alpha(opacity=80);}
.bdb-1 {border-bottom: 1px solid #f5f5f5}

/*******************************
	-------[=ind-row4]-------
********************************/
.ind-row4 {overflow: hidden;}
.ind-row4 .col-l,.ind-row4 .col-r {width: 595px;}

.ind-row4-hd {height: 58px;line-height: 58px;background: url(../images/pc-main/row4-hd-bg1.jpg) no-repeat 0 0;padding: 0 20px;color: #fff;}
.ind-row4-hd h2 {font-size: 22px;padding-left: 40px;background: url(../images/pc-main/ico-row4-1.png) no-repeat left center;font-weight: normal;}
.ind-row4-hd .more {float: right;color: #fff;font-size: 14px;}
.ind-row4-hd .more:hover{opacity: .8;filter: alpha(opacity=80);}
.ind-row4-hd .more .ico {float: right;width: 22px;height: 22px;background: url(../images/pc-main/ico-row4-3.png);margin: 18px 0 0 10px;}
.ind-row4-hd.hd-r {background-image: url(../images/pc-main/row4-hd-bg2.jpg);}
.ind-row4-hd.hd-r h2 {background-image: url(../images/pc-main/ico-row4-2.png);}

.ind-row4-bd {padding: 10px;background-color: #fff;}
.ind-row4-pic1 {overflow: hidden;margin: 10px 0;}
.ind-row4-pic1 a {float: left;}
.ind-row4-pic1 a:hover {opacity: .8;filter: alpha(opacity=80);}
.ind-row4-pic1 .logo {position: relative;width: 152px;height: 160px;margin-right: 4px;}
.ind-row4-pic1 .logo .txt{position: absolute;bottom: 0;left: 0;width: 100%;height: 31px;line-height: 31px;}
.ind-row4-pic1 .logo .txt p{padding-left: 0px;font-size: 18px;color: #333;z-index: 99;position: relative;background-color: transparent;text-align: center;
}
.ind-row4-pic1 .logo .txt i{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #fff;opacity: 0.8;filter: alpha(opacity=80);}
.ind-row4-pic1 .logo:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.ind-row4-pic1 .logo:hover p{color: #cf2653;}

.ind-row4-pic1 .logo img {display: block;width: 100%;height: 100%;}
.ind-row4-pic1 .pic {width: 203px;height: 160px;margin: 0 1px;}
.ind-row4-pic1 .pic img {display: block;width: 203px;height: 129px;}
.ind-row4-pic1 .pic p {text-align: center;background-color: #f7f5f7;font-size: 14px;color: #333;height: 31px;line-height: 31px;}
.ind-row4-pic1.pic2 {padding: 10px 9px 10px 0;background-color: #f7f5f7; }
.ind-row4-pic1.pic2 p {background-color: #fff;}
.ind-row4-pic2 {overflow: hidden;}
.ind-row4-pic2 a {float: left;width: 190px;padding-bottom: 15px;background-color: #f7f5f7;font-size: 14px;line-height: 30px;color: #4387ba;text-align: center;}
.ind-row4-pic2 a + a {margin-left: 2px;}
.ind-row4-pic2 img {display: block;width: 175px;height: 175px;margin: 10px auto;}
.ind-row4-pic3 img {display: block;width: 575px;height: 107px;margin: 10px 0;}
.ind-row4-pic2 a:hover,.ind-row4-pic3 a:hover img {opacity: .8;filter: alpha(opacity=80);}
.ind-row4-pic4 {overflow: hidden;margin: 10px 0;}
.ind-row4-pic4 a {float: left;width: 190px;}
.ind-row4-pic4 a + a {margin-left: 1px;}
.ind-row4-pic4 a img {display: block;width: 100%;height: 100%;}
.ind-row4-pic4 p {text-align: center;background-color: #f7f5f7;font-size: 14px;color: #333;height: 31px;line-height: 31px;}
.g-ind-pic1 {overflow: hidden;}
.g-ind-pic1 img {display: block;height: 140px;}
.ind-row4-pic4 a:hover,
.g-ind-pic1 a:hover img {opacity: .8;filter: alpha(opacity=80);}


/*******************************
	-------[=ind-row5]-------
*******************************/
.ind-row5 {overflow: hidden;padding-top: 30px;}
.ind-row5 .col-l{width: 392px;overflow: hidden;}
.ind-row5 .col-r{width: 403px; overflow: hidden;}
.ind-row5 .col-c{width: 405px;overflow: hidden;}
.ind-row5-left{overflow: hidden;position: relative;height: 562px;}
.ind-row5-left img{display: block;max-width: 100%;}
.ind-row5-link{position: absolute;left: 0;bottom: 0;background: url(../images/pc-main/opacity-bg1.png) repeat 0 0;width: 100%;padding: 10px 0;}
.ind-row5-pic a:hover img{opacity: .8;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity= 80)';
        filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);}
.ul-row5-1{overflow: hidden;font-size: 0;}
.ul-row5-1 li{display:inline-block;*display:inline;*zoom:1;width: 130px;}
.ul-row5-1 li a{display: block;height: 30px;line-height: 30px;padding-left: 35px;font-size: 12px;color: #a14971; background-position: left center;background-repeat: no-repeat;margin-left: 29px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ul-row5-1 li a.a1{background-image:url(../images/pc-main/row5-3.png);}
.ul-row5-1 li a.a2{background-image:url(../images/pc-main/row5-4.png);}
.ul-row5-1 li a.a3{background-image:url(../images/pc-main/row5-4.png);}
.ul-row5-1 li a:hover{text-decoration: underline;}
.ul-row5-2{overflow: hidden;padding-left: 35px;padding-top: 6px;*zoom:1;}
.ul-row5-2 li{float: left;width: 25%;}
.ul-row5-2 li a{display: block;font-size: 12px;color: #808080;line-height: 2em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ul-row5-2 li a:hover{color: #cf2653;}
.ul-row5-3{overflow: hidden;}
.ul-row5-3 li{height: 281px;overflow: hidden;}
.ul-row5-3 li .img{overflow: hidden;position: relative;}
.ul-row5-3 li .img img{display: block;width: 405px;height: 281px;}
.ul-row5-3 li .txt{position: absolute;bottom: 0;left: 0;width: 100%;height: 51px;line-height: 51px;transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    -o-transition:.3s;}
.ul-row5-3 li .txt p{padding-left: 15px;font-size: 16px;color: #333;z-index: 99;position: relative;}
.ul-row5-3 li .txt i{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #fff;opacity: 0.8;filter: alpha(opacity=80);}

.ul-row5-3 li a:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.ul-row5-3 li a:hover .txt{bottom: -51px;}
.ul-row5-4{overflow: hidden;}
.ul-row5-4 li{float: left;width:201.5px;}
.ul-row5-4 li a{display: block;border-left: 1px solid #f6f6f6;border-top: 1px solid #f6f6f6;position: relative;}

.ul-row5-4 li a:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.ul-row5-4 li a:hover .txt{bottom: -76px;}
.ul-row5-4 .img{overflow: hidden;height:280px;}
.ul-row5-4 .img img{display: block;width: 200px;height: 281px;}
/*******************************
.ul-row5-4 .txt{position: absolute;left: 0;bottom: 0;width: 100%;height: 76px;line-height: 76px;background-color: #fff;transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    -o-transition:.3s;}
.ul-row5-4 .txt p{padding-left: 10px;font-size: 16px;color: #333;max-height:76px;display: -webkit-box;display: box; -webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
*******************************/
.ul-row5-4 li .txt{position: absolute;bottom: 0;left: 0;width: 100%;height: 51px;line-height: 51px;}
.ul-row5-4 li .txt p{padding-left: 15px;font-size: 16px;color: #333;z-index: 99;position: relative;}
.ul-row5-4 li .txt i{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: #fff;opacity: 0.8;filter: alpha(opacity=80);}
.ul-row5-4 li a:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.ul-row5-4 li a:hover p{color: #cf2653;}
.g-ind-tit1{text-align: center;height: 80px;line-height: 80px;overflow: hidden;}
.g-ind-tit1 img{vertical-align: middle;max-height: 100%;}

/*******************************
	-------[=ind-row6]-------
*******************************/
.ul-row6-tab{overflow: hidden;margin-bottom: 24px;}
.ul-row6-tab li{float: left;width: 11.111%;text-align: center;background-color: #fff;padding: 10px 0;}
.ul-row6-tab li a{display: block;height: 40px;line-height: 40px;border-right: 1px solid #f5f5f5;font-size: 14px;color: #333;}
.ul-row6-tab li a:hover{color: #f23030;}
.ul-row6-tab li.on{background:#f6f6f6 url(../images/pc-main/ul-tab-lb.png) no-repeat center bottom;}
.ul-row6-tab li.on a{border: none;color: #f23030;}

.ul-row6-1{overflow: hidden;}
.ul-row6-1 li{float: left;width: 400px;background-color: #fff;position: relative;}
.ul-row6-1 li.right{float: right;height: 530px;background:#fff url(../images/pc-main/row6-7.jpg) no-repeat 114px bottom;}
.ul-row6-1 li a{display: block;height: 176px;border-bottom: 1px solid #f5f5f5;border-left:1px solid #f5f5f5 ;}
.ul-row6-1 li .img{
	position: absolute;right:20px;top: 0;width: 200px;height: 176px;line-height: 176px;text-align: center;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.ul-row6-1 li a:hover .img{right: 30px;}

.ul-row6-1 li .img img{vertical-align: middle;max-width: 100%;}
.ul-row6-1 li .txt{padding: 15px 0 0 25px;}
.ul-row6-1 li .txt p{font-size: 16px;color: #333;line-height: 1.6em;}
.ul-row6-1 li .txt span{font-size: 12px;color: #f23030;}
.ul-row6-1 li .txt em{display: block;width: 74px;height: 25px;background-color: #f23030;color: #fff;text-align: center;line-height: 25px;margin-top: 8px;}
.ul-row6-1 li .inner{border-bottom: none;width: 240px;text-align: center;position: relative;}
.ul-row6-1 li .inner img{max-width: 100%;margin-top: 7px;}
.ul-row6-1 li .inner:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.ul-row6-1 li .inner p{font-size: 12px;color: #333;line-height: 28px;}
.ul-row6-1 li .inner em{font-size: 16px;color: #f23030;}


/*******************************
    -------[=index-row10]-------
********************************/
.ind-row10{margin-bottom: 40px; overflow: hidden;}
.ul-row10{ margin: 0 -4.5px; overflow: hidden;}
.ul-row10 li{
    float: left; margin: 0 4.5px 10px; width: 293px; height: 278px;
}
.ul-row10 li .inner{
    display: block; padding:1px 1px 18px; border:1px solid #fff;
    background-color: #fff;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.ul-row10 .pic{ width: 290px; height: 185px;}
.ul-row10 .pic img{ display: block;width: 100%;height: 100%;}
.ul-row10 .txt{
    color: #545454;  line-height: 20px;
    padding: 10px 5px 0;  overflow: hidden;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.ul-row10 a:hover .txt{color: #FD5001 ;}
.ul-row10 .txt p{
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 40px;
}
.ul-row10 .txt .price{ float: left;}
.ul-row10 .txt .price .new{font-size: 16px;color: #f23030;margin-right: 6px;}
.ul-row10 .txt .price .old{font-size: 14px;color: #808080;text-decoration: line-through;}
.ul-row10 .txt .collect{float: right;font-size: 14px;color: #333;}
.ul-row10 .txt .collect i{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 13px;
    background: url(../images/pc-main/ico_collect.png) no-repeat center center;
    margin-right: 6px;
}
.ul-row10 a:hover{border:1px solid #FD5001 ;}
/*******************************
    -------[=footer]-------
********************************/
.footer{padding-top: 10px;padding-bottom: 15px;background-color: #fff;}
.fd-top{border-bottom: 1px solid #e5e5e5;padding-bottom: 20px;}
.fd-service{padding:30px 0 35px;overflow: hidden;}
.fd-service li{float: left;width: 300px; text-align: center;}
.fd-service span{font-size: 18px;color: #333;line-height: 42px;letter-spacing: 1px;}
.fd-service span .ico{
    display: inline-block;
    vertical-align: middle;
    width: 39px; height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}
.fd-service span .ico1{background-image: url(../images/pc-main/fd-ico1.png);}
.fd-service span .ico2{background-image: url(../images/pc-main/fd-ico2.png);}
.fd-service span .ico3{background-image: url(../images/pc-main/fd-ico3.png);}
.fd-service span .ico4{background-image: url(../images/pc-main/fd-ico4.png);}
.fd-nav{overflow: hidden;}
.fd-nav dl{float: left; width: 245px;padding:0 15px;text-align: center;}
.fd-nav dl.last{ width: 70px;}
.fd-nav h5{ font-size: 16px;line-height: 42px;color: #333;font-weight: lighter; text-align: left;}
.fd-nav a{ display: block;line-height: 20px;text-align: left;}
.fd-bot{color: #666;line-height: 2; text-align: center; padding-top: 15px;padding-bottom: 15px;}
.fd-bot span{ display: inline-block;margin:0 8px;}
.fd-bot em{ font-family: "Arial";}
.fd-link a{ margin: 0 7px;color: #333;}
.fd-link a:hover{color: #FD5001 ;}



/*******************************
	-------[=ind-row7]-------
********************************/
.ind-row7 {
	margin-bottom: 10px;
}
.ind-row7 .item {
	overflow: hidden;
	padding-top: 30px;
}
.ind-row7 .bg1 .ind-row7-left {
	background-color: #3bb4c7;
}
.ind-row7 .bg1 .ico-row7-left {
	background: url(../images/pc-main/ico-row7-1.png) 0 0 no-repeat;
}
.ind-row7 .bg1 .ul-ind-row7-info {
	border-top: 3px solid #3bb4c7;
}
.ind-row7 .bg1 .ul-ind-row7-info .more {
	background-color: #3bb4c7;
}
.ind-row7 .bg2 .ind-row7-left {
	background-color: #FD5001 ;
}
.ind-row7 .bg2 .ico-row7-left {
	background: url(../images/pc-main/ico-row7-2.png) 0 0 no-repeat;
}
.ind-row7 .bg2 .ul-ind-row7-info {
	border-top: 3px solid #FD5001 ;
}
.ind-row7 .bg2 .ul-ind-row7-info .more {
	background-color: #FD5001 ;
}
.ind-row7 .col-l {
	float: left;
	width: 190px;
	height: 215px;
	margin-top: -5px;
}
.ind-row7 .col-r {
	float: none;
	overflow: hidden;
	background-color: #fff;
}

.ind-row7-left {
	position: relative;
	display: block;
	padding: 20px 25px 25px;
	width: 140px;
	height: 170px;
	color: #fff;
}
.ind-row7-left:hover {
	color: #fff;
}
.ind-row7-left h3 {
	height: 36px;
	font-size: 28px;
	font-weight: normal;
	line-height: 36px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ind-row7-left .hr {
	display: block;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 55px;
	height: 3px;
	background-color: #fff;
}
.ind-row7-left p {
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ind-row7-left .btn {
	float: left;
	margin-top: 20px;
	padding: 2px 0 4px 15px;
	width: 85px;
	height: 20px;
	border: 2px solid #fff;
	font-size: 12px;
	line-height: 20px;
	overflow: hidden;
}
.ind-row7-left .btn i {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	margin-left: 10px;
	background: url(../images/pc-main/ico-row7-3.png) 0 0 no-repeat;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.ind-row7-left:hover .btn i{margin-left: 15px;}
.ind-row7-left .ico-row7-left {
	position: absolute;
	top: 0;
	left: 100%;
	width: 4px;
	height: 5px;
}

.ul-ind-row7 {
	overflow: hidden;
	padding: 5px 0 10px;
	margin-left: -1px;
}
.ul-ind-row7 li {
	position: relative;
	float: left;
	width: 336px;
	height: 195px;
}
.ul-ind-row7 .inner {
	display: block;
	height: 100%;
	border-left: 1px solid #e7e7e7;
}
.ul-ind-row7 .pic {
	width: 306px;
	height: 180px;
	padding: 15px 30px 0 0;

	text-align: right;
	line-height: 180px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.ul-ind-row7 .inner:hover .ul-ind-row7-info {
	opacity: 0.95;
	filter: alpha(opacity=95);
}
.ul-ind-row7 .inner:hover .pic {
	padding-left: 15px;
	padding-right: 15px;
}
.ul-ind-row7 .pic img {
	vertical-align: middle;
	max-width: 80%;
	max-height: 80%;
}

.ul-ind-row7-info {
	position: absolute;
	z-index: 1;
	left: 27px;
	top: 15px;
	width: 100px;
	background-color: #fff;

	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}
.ul-ind-row7-info .price {
	overflow: hidden;
	height: 36px;
	margin: 6px 0 13px;
	line-height: 36px;
	font-size: 26px;
	font-weight: 700;
	color: #f23030;
}
.ul-ind-row7-info .price span {
	margin-right: 3px;
	font-weight: 400;
	font-size: 12px;
}
.ul-ind-row7-info .desc {
	overflow: hidden;
	margin: 4px 10px;
	height: 36px;
	font-size: 12px;
	line-height: 16px;
	color: #333;
}
.ul-ind-row7-info .limit {
	overflow: hidden;
	padding: 14px 10px 6px;
	width: 80px;
	height: 36px;
	font-size: 12px;
	color: #333;
	background: #e7e7e7 url(../images/pc-main/bg-row7-1.png) 0 0 repeat-x;
}
.ul-ind-row7-info .more {
	overflow: hidden;
	height: 26px;
	line-height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	text-align: center;
	color: #fff;
}


/*******************************
	-------[=ind-row8]-------
********************************/
.ind-row8 {
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}
.ind-row8 .col-l {
	position: relative;
	width: 403px;
	height: 546px;
}
.ind-row8 .col-r {
	width: 199px;
	height: 546px;
	background-color: #fff;
}
.ind-row8 .col-c {
	float: none;
	overflow: hidden;
	background-color: #fff;
}
.ind-row8 .ind-row8-left {
	position: absolute;
	bottom: 20px;
	left: 0;
}

.ind-row8-left .tit {
	padding-left: 20px;
	margin-bottom: 30px;
	color: #ee541b;
}
.ind-row8-left .tit h3 {
	font-size: 27px;
	font-weight: normal;
	line-height: 33px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ind-row8-left .tit p {
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ind-row8-left ul {
	width: 149px;
	height: 237px;
	padding: 8px;
	background: url(../images/pc-main/bg-row8-1.png) 0 0 repeat;
}
.ind-row8-left ul li {
	padding-left: 12px;
	margin: 4px 0 9px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	color: #333;
	background: url(../images/pc-main/ico-row8-1.png) 0 center no-repeat;
	background-size: 4px;
}
.ind-row8-left ul li:hover {
	color: #ee541b;
}
.ind-row8-left ul a {
	color: inherit;
}

.ind-row8-right {
	padding: 0 20px;
	border-left: 1px solid #e7e7e7;
}
.ind-row8-right .tit {
	height: 81px;
	border-bottom: 1px solid #e7e7e7;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	line-height: 80px;
	color: #ee541b;
}
.ind-row8-right .item {
	overflow: hidden;
	padding-top: 18px;
	margin-bottom: 20px;
}
.ind-row8-right .pic {
	float: left;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 15px;
}
.ind-row8-right .pic img {
	display: block;
	border-radius: 50%;
}
.ind-row8-right .links {
	overflow: hidden;
	font-size: 12px;
	line-height: 26px;
}
.ind-row8-right .links a {
	display: block;
	color: #333;
}
.ind-row8-right .links a:hover {
	color: #ee541b;
}

.ul-ind-row8 {
	overflow: hidden;
	margin-top: -1px;
}
.ul-ind-row8 li {
	float: left;
	width: 33.3333%;
}
.ul-ind-row8 .inner {
	display: block;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
}
.ul-ind-row8 .inner:hover .pic {
	line-height: 160px;
}
.ul-ind-row8 .txt {
	padding-top: 15px;
	margin-bottom: 10px;
	text-align: center;
}
.ul-ind-row8 .txt h3 {
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	color: #ee541b;
}
.ul-ind-row8 .txt p {
	margin-bottom: 7px;
	line-height: 19px;
	color: #808080;
}
.ul-ind-row8 .txt span {
	padding: 3px 7px;
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	background-color: #ee541b;
}
.ul-ind-row8 .pic {
	height: 172px;
	text-align: center;
	line-height: 172px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.ul-ind-row8 .pic img {
	vertical-align: middle;
}

/*******************************
	-------[=ind-row9]-------
********************************/
.ind-row9 {
	overflow: hidden;
}
.ind-row9 .col-l {
	width: 394px;
	height: 563px;
}
.ind-row9 .col-r {
	width: 200px;
	height: 563px;
}
.ind-row9 .col-c {
	overflow: hidden;
	float: none;
	height: 563px;
}

.ind-row9-left {
	position: relative;
	overflow: hidden;
	height: 563px;
}
.ind-row9-left a:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.ind-row9-left img {
	display: block;
	width: 394px;
	height: 563px;
}
.ind-row9-left .txt {
	position: absolute;
	bottom: 114px;
	left: 1px;
	width: 142px;
	height: 119px;
	padding: 18px 12px;
	background-color: #37ad69;
}
.ind-row9-left .txt h3 {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: normal;
	line-height: 36px;
	color: #fff;
}
.ind-row9-left .txt p {
	height: 63px;
	color: #fff;
	line-height: 21px;
	overflow: hidden;
	display: -webkit-box;
	display: box;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
.ind-row9-left .wrap {
	position: absolute;
	right: -18px;
	bottom: -17px;
	width: 152px;
	height: 138px;
	border-right: 6px solid #37ad69;
	border-bottom: 6px solid #37ad69;
}

.ind-row9-right {
	position: relative;
	height: 548px;
	padding: 15px 9px 0;
	border-left: 1px solid #f6f6f6;
	background-color: #fff;
}
.ind-row9-right .tit {
	padding-top: 31px;
	margin-bottom: 5px;
	font-size: 20px;
	text-align: center;
	line-height: 42px;
	font-weight: normal;
	color: #333;
	background: url(../images/pc-main/ico-row9-1.png) no-repeat center 0;
	background-size: auto 31px;
}
.ind-row9-right .item {
	position: relative;
	overflow: hidden;
	display: block;
	margin-bottom: 20px;
}
.ind-row9-right .item:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.ind-row9-right .item img {
	display: block;
	width: 181px;
	height: 101px;
}
.ind-row9-right .item .txt {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 161px;
	height: 30px;
	padding: 0 10px;
	font-size: 12px;
	line-height: 30px;
	color: #333;
	background: url(../images/pc-main/bg-row8-1.png) 0 0 repeat;
}
.ind-row9-right .item .txt2 {
	font-size: 14px;
	color: #37ad69;
}
.ind-row9-right .more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 105px;
	text-align: center;
	background-color: #37ad69;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.ind-row9-right .more:hover {
	opacity: .8;
	filter: alpha(opacity=80);
}
.ind-row9-right .more span {
	display: block;
	margin: 30px 44px;
	padding-right: 30px;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	background: url(../images/pc-main/ico-row9-2.png) right center no-repeat;
}

.ul-ind-row9 {
	overflow: hidden;
}
.ul-ind-row9 li {
	float: left;
	position: relative;
}
.ul-ind-row9 .inner {
	display: block;
	border-top: 1px solid #f6f6f6;
	border-left: 1px solid #f6f6f6;
}
.ul-ind-row9 .inner:hover img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}
.ind-row9-left img {

	display: block;

	width: 394px;

	height: 563px;

}

.ind-row9-left .txt {

	position: absolute;

	bottom: 114px;

	left: 1px;

	width: 142px;

	height: 119px;

	padding: 18px 12px;

	background-color: #37ad69;

}

.ind-row9-left .txt h3 {

	margin-bottom: 5px;

	font-size: 18px;

	font-weight: normal;

	line-height: 36px;

	color: #fff;

}

.ind-row9-left .txt p {

	height: 63px;

	color: #fff;

	line-height: 21px;

	overflow: hidden;

	display: -webkit-box;

	display: box;

	text-overflow: ellipsis;

	word-break: break-all;

	-webkit-box-orient: vertical;

	-webkit-line-clamp: 3;

}

.ind-row9-left .wrap {

	position: absolute;

	right: -18px;

	bottom: -17px;

	width: 152px;

	height: 138px;

	border-right: 6px solid #37ad69;

	border-bottom: 6px solid #37ad69;

}



.ind-row9-right {

	position: relative;

	height: 548px;

	padding: 15px 9px 0;

	border-left: 1px solid #f6f6f6;

	background-color: #fff;

}

.ind-row9-right .tit {

	padding-top: 31px;

	margin-bottom: 5px;

	font-size: 20px;

	text-align: center;

	line-height: 42px;

	font-weight: normal;

	color: #333;

	background: url(../images/pc-main/ico-row9-1.png) no-repeat center 0;

	background-size: auto 31px;

}

.ind-row9-right .item {

	position: relative;

	overflow: hidden;

	display: block;

	margin-bottom: 20px;

}

.ind-row9-right .item:hover img {

	-webkit-transform: scale(1.1);

	-moz-transform: scale(1.1);

	-ms-transform: scale(1.1);

	-o-transform: scale(1.1);

	transform: scale(1.1);

}

.ind-row9-right .item img {

	display: block;

	width: 181px;

	height: 101px;

}

.ind-row9-right .item .txt {

	position: absolute;

	bottom: 0;

	left: 0;

	width: 161px;

	height: 30px;

	padding: 0 10px;

	font-size: 12px;

	line-height: 30px;

	color: #333;

	background: url(../images/pc-main/bg-row8-1.png) 0 0 repeat;

}

.ind-row9-right .item .txt2 {

	font-size: 14px;

	color: #37ad69;

}

.ind-row9-right .more {

	position: absolute;

	bottom: 0;

	left: 0;

	width: 100%;

	height: 105px;

	text-align: center;

	background-color: #37ad69;

	-webkit-transition: 0.3s;

	-moz-transition: 0.3s;

	-ms-transition: 0.3s;

	-o-transition: 0.3s;

	transition: 0.3s;

}

.ind-row9-right .more:hover {

	opacity: .8;

	filter: alpha(opacity=80);

}

.ind-row9-right .more span {

	display: block;

	margin: 30px 44px;

	padding-right: 30px;

	font-size: 20px;

	line-height: 24px;

	color: #fff;

	background: url(../images/pc-main/ico-row9-2.png) right center no-repeat;

}



.ul-ind-row9 {

	overflow: hidden;

}

.ul-ind-row9 li {

	float: left;

	position: relative;

}

.ul-ind-row9 .inner {

	display: block;

	border-top: 1px solid #f6f6f6;

	border-left: 1px solid #f6f6f6;

}

.ul-ind-row9 .inner:hover img {

	-webkit-transform: scale(1.05);

	-moz-transform: scale(1.05);

	-ms-transform: scale(1.05);

	-o-transform: scale(1.05);

	transform: scale(1.05);

}
.ul-ind-row9 .inner:hover .txt {
	opacity: 0;
	filter: alpha(opacity=0);
}
.ul-ind-row9 .pic {
	overflow: hidden;
}
.ul-ind-row9 img {
	display: block;
}
.ul-ind-row9 .txt {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 85px;
	padding: 10px 0;
	background: url(../images/pc-main/bg-row8-1.png) 0 0 repeat;

	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}
.ul-ind-row9 .txt h3 {
	padding: 0 30px 0 12px;
	margin-bottom: 6px;
	font-size: 18px;
	font-weight: normal;
	line-height: 33px;
	color: #37ad69;
}
.ul-ind-row9 .txt p {
	overflow: hidden;
	padding: 0 30px 0 12px;

	font-size: 12px;
	line-height: 21px;
	color: #333;
}
.ul-ind-row9.top li {
	width: 607px;
}
.ul-ind-row9.top .inner {
	width: 606px;
	border-top: 0;
}
.ul-ind-row9.top .txt {
	height: 40px;
	padding: 0;
}
.ul-ind-row9.top .txt h3 {
	float: left;
	margin-bottom: 0;
	line-height: 40px;
}
.ul-ind-row9.top .txt p {
	height: 40px;
	line-height: 40px;

	white-space: nowrap;
	text-overflow: ellipsis;
}
.ul-ind-row9.top .pic {
	width: 605px;
	height: 281px;
}
.ul-ind-row9.top img {
	width: 605px;
	height: 281px;
}
.ul-ind-row9.btm li {
	width: 202px;
}
.ul-ind-row9.btm .inner {
	width: 201px;
}
.ul-ind-row9.btm .txt p {
	height: 42px;

	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.ul-ind-row9.btm .pic {
	width: 201px;
	height: 281px;
}
.ul-ind-row9.btm img {
	width: 201px;
	height: auto;
}

.content-image-fullsize img{
	width: 100%!important;
	height: auto!important;
}

.module-title
{
	height: 26px;
	padding: 16px 20px 16px 25px;
}

.module-title-fount
{
	float: left;
	font-size: 22px;
	color: #fff;
	height: 26px;
	line-height: 30px;
	font-weight: 400;
	max-width: 100px;
	font-family: fzzhengheis-el-gbregular;
	word-wrap: break-word;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.module-title-smallfount
{
	display: inline-block;
	line-height: 24px;
	padding: 0 10px;
	border: 1px solid #fff;
	color: #fff;
}


.form_response_loader {
    border: 15px solid #2bb8aa; /* Light grey */
    border-top: 15px solid #FD5001 ; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s ease infinite;
    position: fixed;
    top: 30%;
    margin: 5% auto;
    right:0;
    left: 0;
    z-index: 999;
}

@keyframes spin {
    0% { transform: rotate(0deg); border: 10px solid #cbff2f;border-top: 10px solid #FD5001 ; }
    33% { transform: rotate(100deg);border: 10px solid #FD5001 ; border-top: 10px solid #ff632f;}
    66% { transform: rotate(200deg);border: 10px solid #ff632f; border-top: 10px solid #cbff2f;}
    100% { transform: rotate(360deg); border: 10px solid #cbff2f;border-top: 10px solid #FD5001 ; }
}





/*
-----------------[内容]--------------*/
.kp_main{
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	z-index:99999;
}
.kp_main .kp-row{
	position: absolute;width: 1200px;
	top: 50%;left: 50%;z-index: 100;
	transform: translate(-50%,-50%);
}
.kp_main .close{
	position: absolute;
	top: 0;right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../images/pc-main/close.png) 0 0 no-repeat;
	background-size: 100% 100%;
	z-index: 3;
}
.kp_main .box{
	position: relative;
	height: 0;
	padding-top: 56%;
	background: url(../images/pc-main/bg01.png) 0 0 no-repeat;
	background-size: 100% 100%;
	border-radius: 10px;
}
.kp_main .box .s_img{
	position: absolute;
	display: block;
	-webkit-animation: twinkling 1s infinite ease-in-out;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.kp_main .box .s_img:hover{
	z-index: 2;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	transform-origin: 50% 50%;
}
.kp_main .box .s_img img{display: block;width: 100%;height: 100%;}
.kp_main .box .img1{
	top: 56%;
	left: 13.7%;
	width: 14.5%;
}
.kp_main .box .img2{
	top: 52.4%;
	left: 36.2%;
	width: 11.5%;
}
.kp_main .box .img3{
	top: 52.4%;
	right: 37.1%;
	width: 11.5%;
}
.kp_main .box .img4{
	bottom: 9.3%;
	left: 36.2%;
	width: 11.5%;
}
.kp_main .box .img5{
	bottom: 9.3%;
	right: 37.1%;
	width: 11.5%;
}
.kp_main .box .img6{
	top: 56%;
	right: 14.7%;
	width: 14.5%;
}
.kp_main .box .img7{
	position: absolute;
	bottom: 0;right: 0;
	width: 19.6%;
}
@-webkit-keyframes twinkling{
	0%{
		-moz-box-shadow:0px 0px 50px rgba(254,225,47,0);
		-webkit-box-shadow:0px 0px 50px rgba(254,225,47,0);
		box-shadow:0px 0px 50px rgba(254,225,47,0);
	}
	50%{
		-moz-box-shadow:0px 0px 50px rgba(254,225,47,1);
		-webkit-box-shadow:0px 0px 50px rgba(254,225,47,1);
		box-shadow:0px 0px 50px rgba(254,225,47,1);
	}
	100%{
		-moz-box-shadow:0px 0px 50px rgba(254,225,47,0);
		-webkit-box-shadow:0px 0px 50px rgba(254,225,47,0);
		box-shadow:0px 0px 50px rgba(254,225,47,0);
	}
}


/*index*/
.index-sz{position: relative;background: url(../images/pc-main/s-bg1.jpg) top left repeat;}
.index-sz:after{
	content: '';
	display: inline-block;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -823px;
	z-index: -1;
	width: 1582px;
	height: 399px;
	background:  url(../images/pc-main/s-hua.png) center center no-repeat;
}
.index-sz:before{
	content: '';
	display: inline-block;
	position: absolute;
	width: 100%;height: 59px;
	top: 31px;
	right: 0;
	z-index: -1;
	background: url(../images/pc-main/s-top.png) left top repeat-x;
}
/*ind-row-sz*/
.pic-sz{position: relative;margin-bottom: -50px;}
.pic-sz img{display: block;width: 100%;position: relative;z-index: 3;}
.ul-pic-sz{margin-right: -20px;}
.ul-pic-sz li{float: left;width: 33.33333%;margin-bottom: 20px;}
.ul-pic-sz .con{display: block;overflow: hidden;background-color: #ff4747;position: relative;}
.ul-pic-sz.s1 .con{padding-top: 133%;margin-right: 20px;}
.ul-pic-sz.s1:after{
	content: '';
	display: inline-block;
	position: absolute;
	width: 138px;
	height: 164px;
	background: url(../images/pc-main/s-ico1.png) center center no-repeat;
	top:386px;
	left: -90px;
	z-index: 1;
}
.ul-pic-sz.s1{position: relative;}
.ul-pic-sz.s2{margin-right: -8px;}
.ul-pic-sz.s2 li{margin-bottom: 10px;}
.ul-pic-sz.s2 .con{padding-top: 100%;margin-right: 8px;}
.ul-pic-sz .con img{display: block;position: absolute;top: 0;right: 0;width: 100%;height: 100%;}
.ind-row-sz .col-l,
.ind-row-sz .col-r{width: 594px;}





