data/tpl_cache/*

data/tpl_compile/*

data/settlement/*

data/qrcode/*

data/upload/*

themes/zh-cn/thumbnails/*

.idea/*

log/*

.ftpquota

error_log

loaderio-e83d726c198946f6c8881a24957554d3.html

vendor/*

.user.ini

.well-known/

phpmyadmin/

.DS_Store
.idea