<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>common.css"/>
	<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>css/orders.css"/>
	<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>css/cart.css"/>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="<{$SKIN_PATH}>js/vue.min.js"></script>
</head>
<body class="bgF2F2F2">
<div id="me" v-cloak>
	<script src="<{$SKIN_PATH}>/js/b2b.js"></script>
	<{include file ="mobile/b2btop.htm"}>
	<!-- 主体部分 -->
	<div class="choseBox flexBox1 f28" @click="Chose">
		<span class="col0F0F0F">{{choseData==''? '请选择供应商':choseData}}</span>
		<img src="<{$SKIN_PATH}>img/arrow2.png" class="arr"/>
		<div class="mySelect" v-if="isChose">
			<div v-for="item in list" @click="Chose2(item)">{{item}}</div>
		</div>
	</div>
	<div v-if="isChose" class="mask2"></div>
	<div class="flexBox2 tab">
		<div :class="currentShow=='0'?'col0F0F0F bold':''" class="f28 col7E7E7E relative" @click="change('0')">
			全部
			<img class="classify2Active" src="<{$SKIN_PATH}>img/tabActive.png" v-show="currentShow=='0'"/>
		</div>
		<div :class="currentShow=='1'?'col0F0F0F bold':''" class="f28 col7E7E7E relative" @click="change('1')">
			未发货
			<img class="classify2Active" src="<{$SKIN_PATH}>img/tabActive.png" v-show="currentShow=='1'"/>
		</div>
		<div :class="currentShow=='2'?'col0F0F0F bold':''" class="f28 col7E7E7E relative" @click="change('2')">
			已发货
			<img class="classify2Active" src="<{$SKIN_PATH}>img/tabActive.png" v-show="currentShow=='2'"/>
		</div>
	</div>
	<!-- 全部 -->
	<{if $data}>
	<{foreach from=$data key=key item=item name='dl'}>
	<div v-if="currentShow=='0'">
		<div class="tab_con" >
			<div class="tabTitle"><{substr($item.orderId,0,8)}>-<{substr($item.orderId,8,6)}>-<{substr($item.orderId,14)}></div>
			<div class="tabbottom">
				<div class="info1"><{$item.order_name|truncate_cn:60}></div>
				<div class="info2">
				
				<{if $item.status==1}>
		<em style="float:left; left:2rem; color:#0db40f"><{$lang->paid}></em>
		<{elseif $item.status==0}>
		<em style="float:left; left:2rem; color:#d9534f"><{$lang->unpaid}></em>
		<{elseif $item.status==2}>
		<em style="float:left; left:2rem; color:#d9534f">Pending</em>
		<{/if}>&nbsp;
			<{if $item.coupon_status=='c01'}>
					<!-- 如果该订单已经支付了，则客户不能删除-->
				
					 <{if $hours>12}>
					 
					 <{else}>
					 <a href="<{$http_root_www}>member/cancel_order?orderId=<{$item.orderId}>"><{$lang->cancel_order}></a>
					 <{/if}>
					
					<{else}>
					<!--<a href="<{$http_root_www}>member/myorders"><{$lang->not_support_return}></a> -->
					<{/if}>
			  <{if $item.coupon_status=='c01'}> 	<span class="colFD5001">&nbsp;已购买&nbsp;</span> <{/if}>
					  <{if $item.coupon_status=='b01'}> <span  class="colFD5001">&nbsp;已交易&nbsp;</span> <{/if}>
				  <{if $item.coupon_status=='d01'}>	<span   class="col00B063">&nbsp;订单取消&nbsp;</span><{/if}>
					<!--<span class="col0B0B0B">配送 &nbsp;&nbsp;</span>  -->
					<span class="col0B0B0B">$<{$item.money}></span>
				</div>
				<div class="detailBtn f25 flexBox1" @click="orderDetail('<{$item.orderId}>')">
					订单详情
				</div>
			</div>
		</div>
	</div>
	<{/foreach}>
	<{if $pager}><div class="pager"><{$pager}></div><{/if}>
	<{else}>
	<div class="order-num order-num-1">
		<span><{$lang->no_related_records}></span>
	</div>

	<{/if}>

	<!-- 未发货 -->
	<!--	<div v-if="currentShow=='1'">
            <div class="tab_con">
                <div class="tabTitle">20210906-114937-918641</div>
                <div class="tabbottom">
                    <div class="info1">供应商 mk果蔬</div>
                    <div class="info2">
                        <span class="colFD5001">未发货 &nbsp;&nbsp;</span>
                        <span class="col0B0B0B">配送 &nbsp;&nbsp;</span>
                        <span class="col0B0B0B">$128</span>
                    </div>
                    <div class="detailBtn f25 flexBox1" @click="orderDetail">
                        订单详情
                    </div>
                </div>
            </div>
        </div> -->
        <!-- 已发货 -->
	<!--<div v-if="currentShow=='2'">
		<div class="tab_con">
			<div class="tabTitle">20210906-114937-918641</div>
			<div class="tabbottom">
				<div class="info1">供应商 mk果蔬</div>
				<div class="info2">
					<span class="col00B063">已发货 &nbsp;&nbsp;</span>
					<span class="col0B0B0B">配送 &nbsp;&nbsp;</span>
					<span class="col0B0B0B">$125</span>
				</div>
				<div class="detailBtn f25 flexBox1" @click="orderDetail">
					订单详情
				</div>
			</div>
		</div>
	</div>-->
	<div class="col9A9A9A more flexBox4">
		<img src="<{$SKIN_PATH}>img/loading.png" class="loadingIcon"/>&nbsp;
		<span>正在加载中...</span>
	</div>

	<{include file ="mobile/b2bbottom3.htm"}>
</div>
</body>
<script>
	new Vue({
		el:"#me",
		data:{
			alllist:[
				{
					orderID:'20217837218937128',
					name:'供应商 mk果蔬',
					status:'订单取消',
					amount:'156'
				},
				{
					orderID:'20217837218937128',
					name:'供应商 mk果蔬',
					status:'未发货',
					amount:'156'
				},
				{
					orderID:'20217837218937128',
					name:'供应商 mk果蔬',
					status:'已发货',
					amount:'156'
				}
			],
			list1:[],  // 未发货
			list2:[],   // 已发货
			isAddShow:false,      // 点击＋
			isSC:false,           // 是否收藏
			currentShow:"0",
			isChose:false,
			isShare:false,
			choseData:'',
			list:['供应商1','供应商2'],
			currentMenu:3 ,  // 当前菜单
			title_en:'My Orders',
			title_cn:'我的订单',
			isLanguageEn:1, //语言环境
			langStrDisplay:'中文',
			isReturnShow:false,
		},mounted:function(){

			// 获得当前的语言环境
			this.isLanguageEn =parseInt('<{$user_setting}>');

			//根据当前语言环境改变pop menu 的关于语言的提示；
			this.langStrDisplay =setLanguageContext(this.isLanguageEn);

		},
		methods:{
			changeMenu:function(index){
				this.currentMenu=index;
				changeMenuBottom(index,'<{$http_root_www}>'); //调用统一的底部导航菜单定义部分。

			},//设置语言提示
			switchDisplayLanguage:function(){
				if(this.isLanguageEn) {
					this.langStrDisplay='En';
					this.isLanguageEn=0;
				}else{
					this.langStrDisplay='中文';
					this.isLanguageEn=1;
				}
				setLanguage(this.isLanguageEn,'<{$http_root_www}>'); //将改变后的值放入后台；
				this.isAddShow=!this.isAddShow; //关闭弹框
				//向后台写入目前的语言环境状态；
			},clickAdd:function(){
				this.isAddShow=!this.isAddShow
			},
			kh:function(){
				window.location.href="<{$http_root_www}>index/set_up_account"
			},
			jm:function(){
				window.location.href="<{$http_root_www}>index/suppliers_set_up_account"
			},
			shareApp:function(){
				this.isShare=true
			},
			clickSC:function(){
				_self=this
				this.isSC=!this.isSC
				setTimeout(function(){
					_self.isAddShow=false
				},2000)
			},
			change:function(index){
				this.currentShow=index
			},
			Chose:function(){
				this.isChose=!this.isChose
			},
			Chose2:function(data){
				this.choseData=data
			},

			orderDetail:function(orderid){
			  alert(String(orderid));
				window.location.href="<{$http_root_www}>member/exchange_detail?type=member&id=" +orderid;
			},
			shareApp:function(){
				this.isShare=true
			},
			dismissShare:function(){
				this.isShare=false
			},
			kh:function(){
				window.location.href="<{$http_root_www}>index/set_up_account"
			},
			jm:function(){
				window.location.href="<{$http_root_www}>index/suppliers_set_up_account"
			},
			returnPage(){
				//this.isReturnShow=false
				//this.isShowSearchRes=false
				//this.isShowHistory=false
			},
		aboutUs(){
			window.location.href="index/about_us"
		}

		}
	})
</script>
</html>
