<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<title>CityB2B</title>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>common.css"/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="<{$SKIN_PATH}>js/vue.min.js"></script>
		<script type="text/javascript" src="<{$SKIN_PATH}>mobile/js/jquery.js"></script>

	</head>
	<body class="bgf2f2f2">
		<div id="home" v-cloak class="w100">
		<script src="<{$SKIN_PATH}>/js/b2b.js"></script>
			<{include file ="mobile/b2btop.htm"}>
			
			
	<!--m		<div class="searchPage" v-if="isShowHistory||isShowSearchRes"> -->
				<!-- <div v-if="list.length==0" class="nothing">
					<img src="img/nothing.png"/>
					<div class="f40 col363636 bold p1">搜索无结果</div>
					<div class="f30 col919191">重新搜索一下试试吧！ </div>
				</div> -->
	<!--m			<div v-if="isShowSearchRes">
					<div class="flexBox1 have borderB" v-for="item in searchList" @click="searchNext(1)">
						<div class="flexBox3 w100">
							<img src="<{$SKIN_PATH}>img/headIcon.png" class="searchImg"/>
							<div class="haveCon">
								<div class="f35 col333 mb5">鸡肉条</div>
								<div class="col8D8D8D f25">dnl肉联厂</div>
								<div class="f28 colFD5001 price">$6/kg</div>
							</div>
						</div>
						<img src="<{$SKIN_PATH}>img/arrow.png" class="arrow"/>
					</div>
				</div>
				<div v-if="isShowHistory">
					<div class="f35 col333 have bold flexBox1">
						历史搜索
						<img src="<{$SKIN_PATH}>img/cartDelete.png" class="searchDelete" @click="searchDelete('0')"/>
					</div>
					<div class="flexBox1 have" v-for="(item,index) in historyList" @click="searchNext(0)">
						<span class="f30 col333">xxxxxx</span>
						<img src="<{$SKIN_PATH}>img/cha3.png" class="cha2" @click.stop="searchDelete('1',index)"/>
					</div>
				</div>
			</div> -->
			
			<div class="bgfff mb10">
				<div class="flexBox2 mainConHead mainConHeadbg1">
					<img src="<{$SKIN_PATH}>img/meat.png" class="bigicon"/>
					<div>
						<div class="f35 colDBA000 mb5"  v-if="isLanguageEn">Fresh Meat</div>
						<div class="f35 colDBA000 mb5"  v-else>鲜肉类</div>
						<div class="col7E7E7E f25"  v-if="isLanguageEn" >More</div>
						<div class="col7E7E7E f25"  v-else >查看全部</div>
					</div>
				</div>
				<div class="pa10">
				   
					<img  @click="pop" src="<{$SKIN_PATH}>images/dnl-meat1.jpg" class="categoryImg"/>
				</div>
				<div class="flexBox1 pa15-10">
					<div class="flexBox1">
						<img @click = "storeLink(319188)" src="<{$SKIN_PATH}>images/dnl-logo.png" class="storeIcon"/>
						<span class="f500 col333 f30"  v-if="isLanguageEn" >DNL Meat</span>
						<span class="f500 col333 f30"  v-else >DNL 肉类批发</span>
					</div>
					<div class="flexBox1">
						<div class="colFD5305 collection f25" v-if="isStoreSC" @click="StoreSC"  v-if="isLanguageEn" >Save</div>
						<div class="colFD5305 collection f25" v-if="isStoreSC" @click="StoreSC"  v-else >收藏</div>
						<div class="colFD5305 collection f25 iscollection" v-else @click="StoreSC"  v-if="isLanguageEn">Saved</div>
						<div class="colFD5305 collection f25 iscollection" v-else @click="StoreSC"  v-else>已收藏</div>
						<div class="colfff enter f25" @click = "storeLink(319188)"  v-if="isLanguageEn" >Enter</div>
						<div class="colfff enter f25" @click = "storeLink(319188)"  v-else >进店</div>
					</div>
				</div>
			</div>
			
		
<!--
		<div class="bgfff mb10">
				<div class="flexBox2 mainConHead mainConHeadbg1">
					<img src="<{$SKIN_PATH}>img/meat.png" class="bigicon"/>
					<div>
						<div class="f35 colDBA000 mb5">鲜肉类</div>
						<div class="col7E7E7E f25">查看全部</div>
					</div>
				</div>
				<div class="pa10">
				   
					<img  @click="pop" src="<{$SKIN_PATH}>images/dnl-meat1.jpg" class="categoryImg"/>
				</div>
				<div class="flexBox1 pa15-10">
					<div class="flexBox1">
						<img @click = "storeLink(319188)" src="<{$SKIN_PATH}>images/dnl-logo.png" class="storeIcon"/>
						<span class="f500 col333 f30">DNL 肉类批发</span>
					</div>
					<div class="flexBox1">
						<div class="colFD5305 collection f25" v-if="isStoreSC" @click="StoreSC">收藏</div>
						<div class="colFD5305 collection f25 iscollection" v-else @click="StoreSC">已收藏</div>
						<div class="colfff enter f25" @click="pop">进店</div>
					</div>
				</div>
			</div> -->
			
		<!--	<div class="bgfff mb10">
				<div class="flexBox2 mainConHead mainConHeadbg2">
					<img src="<{$SKIN_PATH}>img/icon.png" class="bigicon"/>
					<div>
						<div class="f35 col768F52 mb5">蔬菜水果</div>
						<div class="col7E7E7E f25">查看全部</div>
					</div>
				</div>
				<div class="pa10">
					<a href=""><img src="<{$SKIN_PATH}>img/big.png" class="categoryImg"/></a>
				</div>
				<div class="flexBox1 pa15-10">
					<div class="flexBox1">
						<img src="<{$SKIN_PATH}>img/headIcon.png" class="storeIcon"/>
						<span class="f500 col333 f30">许记猪肉肉铺</span>
					</div>
					<div class="flexBox1">
						<div class="colFD5305 collection f25 iscollection">已收藏</div>
						<div class="colfff enter f25">进店</div>
					</div>
				</div>
			</div>
			
			<div class="bgfff mb10">
				<div class="flexBox2 mainConHead mainConHeadbg3">
					<img src="<{$SKIN_PATH}>img/hx.png" class="bigicon"/>
					<div>
						<div class="f35 col7E3530 mb5">海鲜类</div>
						<div class="col7E7E7E f25">查看全部</div>
					</div>
				</div>
				<div class="pa10">
					<a href=""><img src="<{$SKIN_PATH}>img/big.png" class="categoryImg"/></a>
				</div>
				<div class="flexBox1 pa15-10">
					<div class="flexBox1">
						<img src="<{$SKIN_PATH}>img/headIcon.png" class="storeIcon"/>
						<span class="f500 col333 f30">东港福海鲜</span>
					</div>
					<div class="flexBox1">
						<div class="colFD5305 collection f25">收藏</div>
						<div class="colfff enter f25">进店</div>
					</div>
				</div>
			</div>
			<div class="bgfff mb10">
				<div class="flexBox2 mainConHead mainConHeadbg4">
					<img src="<{$SKIN_PATH}>img/jh.png" class="bigicon"/>
					<div>
						<div class="f35 col768F52 mb5">杂货类</div>
						<div class="col7E7E7E f25">查看全部</div>
					</div>
				</div>
				<div class="pa10">
					<a href=""><img src="<{$SKIN_PATH}>img/big.png" class="categoryImg"/></a>
				</div>
				<div class="flexBox1 pa15-10">
					<div class="flexBox1">
						<img src="<{$SKIN_PATH}>img/headIcon.png" class="storeIcon"/>
						<span class="f500 col333 f30">东港福海鲜</span>
					</div>
					<div class="flexBox1">
						<div class="colFD5305 collection f25">收藏</div>
						<div class="colfff enter f25">进店</div>
					</div>
				</div>
			</div>
			
			<div class="col9A9A9A more flexBox4">
				<img src="<{$SKIN_PATH}>img/loading.png" class="loadingIcon"/>&nbsp;
			 	<span>正在加载中...</span>
			</div>
			-->
			<div class="flexBox1 bgfff ma10 borR10 khbox">
				<div class="flexBox1">
					<img src="<{$SKIN_PATH}>img/kh.png" class="kh"/>
					<span class="f35 col333 f500"  v-if="isLanguageEn">Open account</span>
					<span class="f35 col333 f500"  v-else>零售店开户</span>
				</div>
				<div class="khBtn" @click="kh"  v-if="isLanguageEn">Enter</div>
				<div class="khBtn" @click="kh" v-else>进入</div>
			</div>
			<div class="flexBox1 bgfff ma10 borR10 khbox">
				<div class="flexBox1">
					<img src="<{$SKIN_PATH}>img/jm.png" class="kh"/>
					<span class="f35 col333 f500"  v-if="isLanguageEn">Supplier Join In</span>
					<span class="f35 col333 f500"  v-else>批发商加盟</span>
				</div>
				<div class="khBtn" @click="jm"  v-if="isLanguageEn">More Advantage</div>
				<div class="khBtn" @click="jm"  v-else>更多优势</div>
			</div>
			<div v-show="!isShowSearchRes&&!isShowHistory">
			<{include file ="mobile/b2bbottom.htm"}>
			</div>

			<!--<div style="height:3.125rem;"></div>
			<div class="flexBox1 menuBox">
				<div @click="changeMenu('1')">
					<img src="img/menu1_.png"/>
					<span class="colFD5001 f26">首页</span>
				</div>
				<div @click="changeMenu('2')">
					<img src="img/menuCustomer2.png" />
					<span class="col333 f26">客户</span>
				</div>
				<div>
					<img src="img/menu3.png" />
					<span class="col333 f26">下订单</span>
				</div>
				<div @click="changeMenu('4')">
					<img src="img/menuChangeOrder2.png"/>
					<span class="col333 f26">改单</span>
				</div>
				<div @click="changeMenu('5')">
					<img src="img/menu5.png" />
					<span class="col333 f26">我的</span>
				</div>
			</div>-->
			
			
			
			
			<div class="mask" v-if="isPop">
				<div class="pop center">
					<div class="col000 f35 bold title">选择当前下单用</div>
					<div class="f30 col282828 p" @click="joinSrore">商家名字</div>
					<div class="f30 col282828 p" @click="joinSrore">商家d名字</div>
					<div class="f30 col282828 p" @click="joinSrore">商家名字</div>
					<div class="f30 col282828 p" @click="joinSrore">商家名字</div>
					<img src="<{$SKIN_PATH}>images/dnl-meat1.jpg" @click="closePop" class="close"/>
				</div>
			</div>
		</div>
	</body>
	<script>
		new Vue({
			el:"#home",
			data:{
				searchCon:'',     // 搜索关键字
				currentMenu:1,   // 当前菜单
				isAddShow:false,      // 点击＋ 
				isSC:false,            // 是否收藏
				isShowSearchRes:false, // 搜索结果
				isShowHistory:false,  // 历史搜索
				isPop:false,   // 点击进店或者图片弹框
				searchList:['','',''],
				historyList:['','',''],
				list:[
					{
						name:'内容'
					}	
				],
				isShare:false,
				isStoreSC:false,
				isReturnShow:false,
				title_en:'CityB2B',
				title_cn:'墨尔本鲜货批发市场',
				isLanguageEn:1, //语言环境
				langStrDisplay:'中文',
			},mounted:function(){

				// 获得当前的语言环境
				this.isLanguageEn =parseInt('<{$user_setting}>');

				//根据当前语言环境改变pop menu 的关于语言的提示；
				this.langStrDisplay =setLanguageContext(this.isLanguageEn);

			},
		    methods:{
				 changeMenu:function(index){
				 	this.currentMenu=index;
					changeMenuBottom(index,'<{$http_root_www}>'); //调用统一的底部导航菜单定义部分。
				 	
				 },//设置语言提示
					switchDisplayLanguage:function(){
					if(this.isLanguageEn) {
						this.langStrDisplay='En';
						this.isLanguageEn=0;
					}else{
						this.langStrDisplay='中文';
						this.isLanguageEn=1;
					}
					setLanguage(this.isLanguageEn,'<{$http_root_www}>'); //将改变后的值放入后台；
					this.isAddShow=!this.isAddShow; //关闭弹框
					//向后台写入目前的语言环境状态；
				},

//				changeMenu:function(index){   商家端
//					this.currentMenu=index
//					switch(index){
//					case '2':
//				        window.location.href="me/storeCustomer.htm"
//						break;
//					case '3':
//					    window.location.href="me/storeChangeOrder2.htm"
//						break;
//					case '4':
//					    window.location.href="me/storeChangeOrderList.htm"
//						break;
//					case '5':
//					    window.location.href="me/store<{$http_root_www}>member/index"
//						break;	
//					default:
//						break;
//					}
//				},
				search:function(){
					if(this.searchCon!=''){
						this.isShowSearchRes=true
						this.isShowHistory=false
					}else{
						this.isShowHistory=true
						this.isShowSearchRes=false
					}
				},
				storeLink:function(businessId){
				
					window.location.href="<{$http_root_www}>supplier/" +businessId; 
				},
				aboutUs(){
					window.location.href="index/about_us"
				},
				StoreSC(){
					this.isStoreSC=!this.isStoreSC
				},
				remove:function(){
					this.searchCon=''
				},
				clickAdd:function(){
					this.isAddShow=!this.isAddShow
				},
				clickSC:function(){
					_self=this
					this.isSC=!this.isSC
					setTimeout(function(){
						_self.isAddShow=false
					},2000)
				},
				getFocus(){
					this.isReturnShow=true
					if(this.isShowSearchRes){
						this.isShowHistory=false
					}else{
						this.isShowHistory=true
					}
				},
				loseFocus:function(){
					//this.isShowHistory=false
					
				},
				searchDelete:function(source,index){
					if(source=='0'){
						this.isShowHistory=false
					}else{
						this.historyList.splice(index,1)
					}	
				},
				pop:function(){
					this.isPop=true
				},
				closePop:function(){
					this.isPop=false
				},
				searchNext(source){
					if(source==0){
						this.isShowSearchRes=true
						this.isShowHistory=false
					}else{  //来自历史
						window.location.href="goods/detail.htm"
					}
				},
				joinSrore:function(){
					window.location.href="<{$http_root_www}>supplier/319188"
				},
				kh:function(){
					window.location.href="<{$http_root_www}>index/set_up_account"
				},
				jm:function(){
					window.location.href="<{$http_root_www}>index/suppliers_set_up_account" 
				},
				shareApp:function(){
				  	this.isShare=true
				},
				dismissShare:function(){
					this.isShare=false
				},
				returnPage(){
					this.isReturnShow=false
					this.isShowSearchRes=false
					this.isShowHistory=false
				}
			}
		})
	</script>	
</html>
