<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<title>下单页面</title>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>common.css"/>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>css/orderGoods.css"/>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>css/placeOrder.css"/>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>css/datePop.css"/>

		<script src="<{$SKIN_PATH}>js/vue.min.js"></script>
	</head>
	<body class="bgF2F2F2">
		<div id="order" v-cloak class="relative">
			<div class="pTitle">
				<img src="<{$SKIN_PATH}>img/return.png" class="return" @click="returnPage"/>
				下单页面
			</div><div style="height: 3rem;"></div>
			<div class="pHead f28 col0F0F0F">
				<div class="pmb5 bold">配送日期</div>
				<div class="flexBox1">
				  <span>2021年11月28日 星期6</span>
					<div class="pbtn f25 colfff" @click="datePop">修改</div>
				</div>

			</div>
			<div class="bgfff borR7 ma15 f28 col282828">
				<div class="pa15 borderB">
					<div class="flexBox3 pmb5">
						<img src="<{$SKIN_PATH}>img/location.png" class="plocation"/>&nbsp;&nbsp;
						<div><span class="f500">收货人</span> {{currentDeliveryAddressFirstName}}&nbsp;&nbsp;{{currentDeliveryAddressLastName}}</div>&nbsp;&nbsp;
						<span>{{currentDeliveryAddressPhone}}</span>
					</div>
					<div>{{currentDeliveryAddress}}</div>
				</div>
				
				
				<div class="flexBox1 pa15 borderB f28 col282828 bold" @click="UpdateAddress">
					
				<span><{$lang->deliver_address}></span>	
				  <div class="pbtn f25 colfff" >修改</div>
				<!--	<img src="<{$SKIN_PATH}>img/down.png" class="arrow" /> -->
				</div>
				<div class="mask z9" v-show="isUpdateAddress">
					<div class="bgfff updateBox pa15 borR7">
						<img src="<{$SKIN_PATH}>img/cha2.png" @click="remove"/>
						<div class="center  f33 bold center">
							<{$lang->deliver_address}>
						</div>
						<div class="pa15-0" @click="addAddress">
							 <{$lang->new_manage_address}>
						</div>
					  
						<div class="pmb15"  v-for="(item,index) in delivery_info_list"  @click="UpdateAddress(index)">
							{{item.first_name}}&nbsp; {{item.last_name}} &nbsp;{{item.address}}
						</div>
						
						
					</div>
				</div>
				
				
				
				<div v-show="isaddAddress">
					<div class="flexBox1 pa15 borderB col1C1C1C" >
					名 <input placeholder="" class="H80" v-model="newFirstName" @change.stop="changCurrentAddress"/>
					</div>
					<div class="flexBox1 pa15 borderB col1C1C1C">
						姓 <input  class="H80" v-model="newLastName" @change.stop="changCurrentAddress"/>
					</div>
					<div class="flexBox1 pa15 borderB col1C1C1C">
						电话 <input  class="H80" v-model="newPhone" @change.stop="changCurrentAddress"/>
					</div>
					<div class="flexBox1 pa15 borderB col1C1C1C">
						邮件 <input  class="H80" v-model="newEmail" @change.stop="changCurrentAddress"/>
					</div>
					<div class="flexBox1 pa15 borderB col1C1C1C">
						地址 <input  class="H80" v-model="newAddress" @change.stop="changCurrentAddress"/>
					</div>
					<div class="flexBox1 pa15 borderB col1C1C1C">
						附加 <input class="H80" v-model="newOther" @change.stop="changCurrentAddress"/>
					</div>
					<div class="pa15 col1C1C1C center f25 col686868">
						添加地址辅助信息（如果地址无法精准）
					</div>
				</div>
			</div>
			<div class="pgoodsList">
			  
				 <{foreach from=$data item=row}>
				
				<div class="cartTitle flexBox2">
					<img src="<{$SKIN_PATH}>img/big.png" class="cartIcon"/>&nbsp;&nbsp;
					<span> <{$row.businessUserName}></span>
				</div>
				 <{foreach from=$row.items item=item}>
				<div class="flexBox3 goodInfo">
					<img src="<{$SKIN_PATH}>img/big.png" class="cartIcon"/>
					<div class="goodInfo2">
						<div> <{if $item.coupon_name_en}><{$item.coupon_name_en}><{else}><{$item.coupon_name}><{/if}></div>
						<div class="f25 col8D8D8D">x<{$item.quantity}></div>
						<div class="flexBox1 price colFD5001">
							<span>$<{$item.single_amount}></span>
							<span>$<{$item.single_amount * $item.quantity}></span>
						</div>
					</div>		
				</div>
				<{/foreach}>
				<{/foreach}>
				<div class="f28 col303134 pinfoBox">
					<div>商品金额  <span class="colFD5001">$7</span></div>
					<div>折扣码  $7</div>
					<div>运费  $7</div>
					<div>第三方  Surcharge :$xxx </div>
					<div>总金额  <span class="colFD5001">$7</span></div>
				</div>
			</div>
			<!--
			<div class="flexBox1 discount">
				<span class="col888888">折扣码</span>
				
				<input placeholder="请输入折扣码" v-model="code"/>
				<div class="pbtn haveBtn f25" v-if="isUse">已使用</div>
				<div class="commonBtn" v-else @click="use">开始使用</div>
			</div>-->
			
			 <!-- 顾客留言区 -->
		    <div class="messageArea">
			  <div class="messageAreaTitle bold">顾客留言区</div>
			  <textarea placeholder="请输入留言"></textarea>
		    </div>
		    <div style="height:3.875rem;"></div>
		    <div class="flexBox1 fixBottom">
			  <div class="flexBox1">
				  <span class="col303134 f28 bold">总金额</span>&nbsp;&nbsp;
				  <div>
					<span class="f25 colFD5001 bold">$</span><span class="bold colFD5001 f40">120.00</span>   
				  </div>
			  </div>
			  <div class="flexBox1">
				  <div class="pbtn f28 colFD590E againBtn">我再逛逛</div>&nbsp;&nbsp;
				  <div class="pbtn f28 colfff" @click="next">下单</div>
			  </div>
		    </div>

			<!-- 配送日期弹框 -->

			<div class="mask z6" v-if="isDatePop">
				<div class="datePop">
					<img src="<{$SKIN_PATH}>img/cha2.png" @click="closePop('d')" class="delete"/>
					<div class="title col333 f30 bold"><{$lang->logistic_delivery_date_choose}></div>
					<div class="flexBox1" style="flex-wrap:wrap;">
						<div  class=" dateBox2 relative " v-for="(item,index) in businessDispSchedule">


							<div class="  dateBox2selected " v-if="item.isselected" @click ="selectDeliveryDate(index)" >
								<div class="f30 col333 pa5-0" v-if="isLanguageEn">{{item.days}}</div>
								<div class="f30 col333 pa5-0" v-else>{{item.days_cn}}</div>
								<div class="f25 colFD5203 pa4-0-4-0" v-if="isLanguageEn">{{item.optionalDisplay}}</div>
								<div class="f25 colFD5203 pa4-0-4-0" v-else>{{item.optionalDisplay_cn}}</div>

								<div class="f25 col999">{{item.disPlayDate}}</div>
								<img src="<{$SKIN_PATH}>img/sj.png"/>
							</div >

							<div class="  dateBox2avaliable " v-if="!item.isselected && item.isAvaliable" @click ="selectDeliveryDate(index)">
								<div class="f30 col333 pa5-0" v-if="isLanguageEn">{{item.days}}</div>
								<div class="f30 col333 pa5-0" v-else>{{item.days_cn}}</div>
								<div class="f25 colFD5203 pa4-0-4-0" v-if="isLanguageEn">{{item.optionalDisplay}}</div>
								<div class="f25 colFD5203 pa4-0-4-0" v-else>{{item.optionalDisplay_cn}}</div>

								<div class="f25 col999">{{item.disPlayDate}}</div>

							</div >

							<div v-if="!item.isselected && !item.isAvaliable">

								<div class="f30 col333 pa5-0" v-if="isLanguageEn">{{item.days}}</div>
								<div class="f30 col333 pa5-0" v-else>{{item.days_cn}}</div>
								<div class="f25 colFD5203 pa4-0-4-0" v-if="isLanguageEn">{{item.optionalDisplay}}</div>
								<div class="f25 colFD5203 pa4-0-4-0" v-else>{{item.optionalDisplay_cn}}</div>

								<div class="f25 col999">{{item.disPlayDate}}</div>

							</div >


						</div>
					</div>

					<div class="title col333 f30 bold" v-if="isLanguageEn">Cut time & Delivery Schedule</div>
					<div class="title col333 f30 bold" v-else>下单时间及配送时间</div>
					<div class="flexBox1 pa15-15-5-15">
						<div class="journal"  v-if="isLanguageEn">Order & Cut Time</div>
						<div class="journal"  v-else>下单截单时间</div>
						<div class="journal"  v-if="isLanguageEn">Delivery Schedule</div>
						<div class="journal"  v-else>配送日期</div>
					</div>
					<div class="pa5-15-5-15 f28 col0B0B0B">
						<div class="flexBox1 pmb15" v-for="item in orderTimeAndDeliveryTime" >
							<span v-if="isLanguageEn">{{item.ordertime}}</span>
							<span v-else>{{item.ordertime_cn}}</span>
							<span v-if="isLanguageEn">{{item.delivery_date_of_week}}</span>
							<span v-else>{{item.delivery_date_of_week_cn}}</span>
						</div>


					</div>
					<div class="continue sure"  @click="closePop('d')" >确定</div>
				</div>
			</div>


			<div class="mask z10" @click="close" v-show="isUsePop">
				<div class="bgfff borR7 codePop center">
					<img src="<{$SKIN_PATH}>img/success2.png"/>
					<div class="bold f35 text">验证成功</div>
					<div class="f30 col282828">验证码有效将节约$10刀</div>
					<div class="bigBtn btn ma0-15" @click="sure">确定</div>
				</div>
			</div>
			
		</div>  
	</body>
	<script>
		new Vue({
			el:"#order",
			data:{
				code:'',
				isLanguageEn:1,
				isUse:false,
				isUsePop:false,
				isPop:false,
				isDatePop:false,  // 日期弹出框
				isUpdateAddress:false,
				isaddAddress:false,
				currentDeliveryAddressFirstName:'',
				currentDeliveryAddressLastName:'',
				currentDeliveryAddress:'',
				currentDeliveryAddressPhone:'',
				newFirstName:'',
				newLastName:'',
				newPhone:'',
				newAddress:'',
				newOther:'',
				newEmail:'',
				orderTimeAndDeliveryTime:[
				],
				businessDispSchedule:[],
				delivery_info_list:[

				],
				businessDispSchedule:[
					{
						name:'明天',
						status:'已选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'已选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'可选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'可选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'可选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'不可选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'可选',
						date:'周三10:26'
					},
					{
						name:'明天',
						status:'可选',
						date:'周三10:26'
					}
				]
			},
			mounted:function(){
				this.currentDeliveryAddress='<{$delivery_info.address}>';
				this.currentDeliveryAddressPhone='<{$delivery_info.phone}>';
				this.currentDeliveryAddressFirstName ='<{$delivery_info.first_name}>';
				this.currentDeliveryAddressLastName='<{$delivery_info.last_name}>';
				this.delivery_info_list=JSON.parse('<{$delivery_info_list}>');
				console.log(this.delivery_info_list);
				console.log(this.dateList);
				//获取商家关于该客户的下单及配送时间的文字表述；
				this.orderTimeAndDeliveryTime=JSON.parse('<{$current_business_tuangou_time}>');

				// 获得当前客户可以下单的日期列表显示，
				this.businessDispSchedule=JSON.parse('<{$businessDispSchedule}>');

				//设置默认的配送日期
				this.selectDefaultDeliveryDate();
				console.log(this.businessDispSchedule);

			},
		    methods:{
				next:function(){
				   window.location.href="orderPage/orderSuccess.htm"
				},
				datePop:function(){
					this.isDatePop=true
				},
				closePop:function(source){
					if(source=='c'){  // 购物车
						this.iscartPop=false
					}else if(source=='d'){
						this.isDatePop=false
					}else{
						this.isPop=false
					}
				},
				// 设置某个日期为配送日期，用户点击选择
				selectDeliveryDate:function(index){
					// 清除所有的 select 标志
					var arrlength =this.businessDispSchedule.length;
					for (let i = 0; i < arrlength; i++) {
						this.businessDispSchedule[i].isselected =0;
					}

					//设置当前的标志为 select
					this.businessDispSchedule[index].isselected =1;
					this.selectDateIndex =index;

					this.setCookie("deliveryDateIndex",index,1);


					console.log('the setting cookie index is :' + this.getCookie('deliveryDateIndex'));

				},
				// 设置默认配送日期
				selectDefaultDeliveryDate:function(){
					// 清除所有的 select 标志
					var i =this.getCookie('deliveryDateIndex');
					if(i) {
						this.selectDateIndex =i;
						this.businessDispSchedule[i].isselected=1;
						console.log('find cookie index is  :' +i);
						return 1;

					}

					var arrlength =this.businessDispSchedule.length;
					for (let i = 0; i < arrlength; i++) {
						if(this.businessDispSchedule[i].isAvaliable) {
							this.businessDispSchedule[i].isselected =1;
							this.selectDateIndex =i;
							this.setCookie("deliveryDateIndex",i,1);


							console.log('could not find in cookie and then find the first useable date:' + this.getCookie('deliveryDateIndex'));


							//	this.DeiveryDate=this.businessDispSchedule[i].disPlayDate + ' ' + this.businessDispSchedule[i].days;
							break;
						}



					}
				},
				changeDate:function(){
					this.isPop=true
				},


				returnPage:function(){
					window.history.go(-1)
				},
				UpdateAddress:function(index){
					if(this.isaddAddress){
						this.isaddAddress=false
					}
					this.isUpdateAddress=!this.isUpdateAddress
					// 显示选择的地址
                    this.currentDeliveryAddress =this.delivery_info_list[index].address;
					this.currentDeliveryAddressFirstName = this.delivery_info_list[index].first_name;
					this.currentDeliveryAddressLastName =this.delivery_info_list[index].last_name;
					this.currentDeliveryAddressPhone = this.delivery_info_list[index].phone;
				},
				changCurrentAddress:function(){
					this.currentDeliveryAddressFirstName = this.newFirstName;
					this.currentDeliveryAddressLastName =this.newLastName;
					this.currentDeliveryAddressPhone =this.newPhone;
					this.currentDeliveryAddress =this.newAddress;

					//可能需要向系统增加，但是，要考虑不能持续增加的问题。

				},
				addAddress:function(){
					this.isaddAddress=true
					this.isUpdateAddress=false
				},
				remove:function(){
					this.isUpdateAddress=false
				},
				use(){
					if(this.code==''){
						alert('请输入折扣码')
					}else{
						this.isUsePop=true
					}
				},
				close(){
					this.isUsePop=false
				},
				sure(){
					this.isUse=true
					this.isUsePop=false
				},
			setCookie:function (cname,cvalue,exdays){
				var d = new Date();
				d.setTime(d.getTime()+(exdays*24*60*60*1000));
				var expires = "expires="+d.toGMTString();
				document.cookie = cname+"="+cvalue+"; "+expires + ";" + " path=/";
			},
			getCookie:function (cname){
				var name = cname + "=";
				var ca = document.cookie.split(';');
				for(var i=0; i<ca.length; i++) {
					var c = ca[i].trim();
					if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
				}
				return "";
			}
			}
		})	
	</script>
</html>
