html { overflow:hidden; }
/* 头部 */
.header { width:100%; min-width:1002px; margin:0 auto; background:url(bg_header.jpg) repeat-x; }
.header .inhead { background:url(ico_inhead.jpg) no-repeat right top; }

.logo { position:relative; color:#fff; font-size:14px; }
.logo a { display:block; width:260px; height:67px; background:url(logo.jpg) no-repeat; text-indent:-9999px; overflow:hidden; }
.logo .ver { position:absolute; left:255px; top:38px; color:#fff; font-size:12px; font-style:normal; font-weight:100; }

/* 面包屑 */
.breadcrumbs { float:left; height:34px; padding:10px 25px 0; background:url(ico_03.gif) no-repeat 10px 17px; color:#16497c; line-height:25px; }

/* 快速链接 */
.quick-menu { float:right; height:34px; padding:10px 10px 0 0; }
.quick-menu li { float:left; margin-right:10px; background:url(ico_01.gif) no-repeat 0 6px; line-height:25px; }
.quick-menu li a { padding-left:10px; color:#1a4c7e; }
.quick-menu .halp { width:112px; height:26px; background:url(ico_01.jpg) no-repeat; font-weight:bold; line-height:23px; text-align:center; }
.quick-menu .halp a { width:112px; height:26px; padding:0; color:#fff; display:block; text-decoration:none; }
.quick-menu .exit { width:112px; height:26px; background:url(ico_02.jpg) no-repeat; font-weight:bold; line-height:23px; text-align:center; }
.quick-menu .exit a { width:112px; height:26px; padding:0; color:#fff; display:block; text-decoration:none; }

.lang-set { float:right; height:34px; line-height:25px; padding:10px 25px 0 0; color:#16497c; }
.lang-set a { color:#16497c; }
.lang-set a.current { color:#F00; }