<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>common.css"/>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>css/me.css"/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="<{$SKIN_PATH}>js/vue.min.js"></script>
	</head>
	<body class="bgF2F2F2">
		<div id="me" v-cloak>
			<script src="<{$SKIN_PATH}>/js/b2b.js"></script>
			<{include file ="factory/metop.htm"}>
			<!-- 头像部分 -->

			<{include file ="factory/generalfile/avatar.htm"}>


			<div class="maT15 infoSetting">
				<div v-for="(item,index) in panelList" >
					<div class="flexBox1 settingBox" @click="changeMenuUrl(item.link)">
						<div class="flexBox1">
							<img :src="item.role_pic" class="icon"/>
							<span class="col1C1C1C f30" v-if="isLanguageEn">{{item.title}}</span><span class="col1C1C1C f30" v-else>{{item.title_cn}}</span>
						</div>
						<img src="<{$SKIN_PATH}>img/arrow2.png" class="arrow" />
					</div>
                 <!--
						<div class="flexBox1 settingBox" @click="changeMenu('2')">
							<div class="flexBox1">
								<img src="<{$SKIN_PATH}>img/storeMe1.png" class="icon"/>
								<span class="col1C1C1C f30">销售员入口</span>
							</div>
							<img src="<{$SKIN_PATH}>img/arrow2.png" class="arrow" />
						</div>
						<div class="flexBox1 settingBox"  @click="changeMenu('6')">
							<div class="flexBox1">
								<img src="<{$SKIN_PATH}>img/storeMe2.png" class="icon"/>
								<span class="col1C1C1C f30">拣货员入口</span>
							</div>
							<img src="<{$SKIN_PATH}>img/arrow2.png" class="arrow" />
						</div>
						<div class="flexBox1 settingBox" @click="changeMenu('4')">
							<div class="flexBox1">
								<img src="<{$SKIN_PATH}>img/storeMe3.png" class="icon"/>
								<span class="col1C1C1C f30">司机入口</span>
							</div>
							<img src="<{$SKIN_PATH}>img/arrow2.png" class="arrow" />
						</div>
						<div class="flexBox1 settingBox" @click="changeMenu('4')">
							<div class="flexBox1">
								<img src="<{$SKIN_PATH}>img/storeMe3.png" class="icon"/>
								<span class="col1C1C1C f30">生产员入口</span>
							</div>
							<img src="<{$SKIN_PATH}>img/arrow2.png" class="arrow" />
						</div> -->
         		</div>
				<{include file ="factory/generalfile/switchToPcDeskTop.htm"}>


			</div>

			<{include file ="factory/generalfile/logout.htm"}>

			<div style="height:3.125rem;"></div>
			<div class="flexBox1 menuBox">
				<div @click="changeMenu('1')">
					<img src="<{$SKIN_PATH}>img/menu1.png"/>
					<span class="col333 f26">首页</span>
				</div>
				<div @click="changeMenu('2')">
					<img src="" />
					<span class="col333 f26"></span>
				</div>
				<div @click="changeMenu('6')">
					<img src="" />
					<span class="col333 f26"></span>
				</div>
				<div @click="changeMenu('4')">
					<img src=""/>
					<span class="col333 f26"></span>
				</div>
				<div @click="changeMenu('5')">
					<img src="<{$SKIN_PATH}>img/menu5_.png" />
					<span class="colFD5001 f26">我的</span>
				</div>
			</div>
		</div>
	</body>
	<script>
		new Vue({
			el:"#me",
			data:{
				currentMenu:5 ,  // 当前菜单
				currentMenuUrl:'/',
				panelList:[],
				isLanguageEn:1,
				isAddShow:false,      // 点击＋
				langStrDisplay:'中文',
			},
			mounted:function(){
				//alert('here');
				var _self =this;
			//	setCookie('agentcityb2b','<{$loginUser.id}>',10);
			//	console.log(getCookie('agentcityb2b'));
				_self.panelList = <{$roles_list}>;
				//console.log(_self.panelList);
				//根据当前语言环境改变pop menu 的关于语言的提示；
				this.langStrDisplay =setLanguageContext(this.isLanguageEn);
				// 获得当前的语言环境
				this.isLanguageEn =parseInt('<{$user_setting}>');

				},
		    methods:{
				editPersonInfo:function(){
					window.location.href="<{$http_root_www}>member1/avatar?id=<{$loginUser.id}>"
				},	//设置语言提示

				switchDisplayLanguage:function(){
					if(this.isLanguageEn) {
						this.langStrDisplay='En';
						this.isLanguageEn=0;
					}else{
						this.langStrDisplay='中文';
						this.isLanguageEn=1;
					}
					setLanguage(this.isLanguageEn,'<{$http_root_www}>'); //将改变后的值放入后台；
					this.isAddShow=!this.isAddShow; //关闭弹框
					//向后台写入目前的语言环境状态；
				},
					clickAdd:function(){
						this.isAddShow=!this.isAddShow
					},
				changeMenu:function(index){
					//alert(index);
					this.currentMenu=index
					switch(index){
					case '1':
						window.location.href="/"
						break;
					case '2':
				        window.location.href="storeCustomer.html"
						break;
					case '3':
					    window.location.href="storeChangeOrder2.html"
						break;
					case '4':
					    window.location.href="storeChangeOrderList.html"
						break;
					case '5':
						window.location.href='<{$http_root_www}>' +  "company/index"
						break;
					case '6':
							window.location.href='<{$http_root_www}>' + "factory/order_for_customer_new"
							break;
					default:
						break;
					}
				},
				switchToPcDeskTop:function() {
					switchToPcDeskTop('<{$http_root_www}>');

				},
				changeMenuUrl:function(Url) {
				//	alert(Url);
					this.currentMenuUrl=Url;
					window.location.href=Url;

				},logout:function() {

						logout('<{$http_root_www}>');
				},
				returnPage:function(){
					window.history.go(-1)
				}
			}
		})	
	</script>
</html>
