<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="<{$SKIN_PATH}>common.css"/>
		<script src="<{$SKIN_PATH}>js/vue.min.js"></script>
	</head>
	<body class="bgF2F2F2">
		<div id="kh" v-cloak>
			<div class="head bgfff center">
				<img src="<{$SKIN_PATH}>img/return.png" class="return" onclick="window.history.go(-1);"/>
				<span v-if="isLanguageEn">Term & Conditions</span>
			</div>
			<div style="height:3.5rem;"></div>
			
			<!-- 主體部分開始 -->
			

			
			<div class="bgfff borR7 ma15 pa15 f35 col0D0D0D relative maT30">

				<div class="f38  left maT15" v-if="isLanguageEn" >1. I/We hereby apply to the company for a trading account as indicated in this application and certify that the information contained herein is true and
					complete in every particular. <br><br>
					TERMS AND CONDITIONS <br><br>
					2. The company collect, hold and use, information related to my/our commercial and consumer creditworthiness from EQUIFAX (www.equifax.com.au),
					a credit reporting body, for all purposes permitted by law. The company also discloses information to them. This activity is conducted for the purpose of
					assessing my/our credit capacity, eligibility or history in connection with an application or an obligation as a guarantor, collecting payments from
					the company, and managing our credit relationship. Creditworthiness information includes information that is both positive (like payment information)
					and negative (like defaults or serious credit infringements that the company may disclose to credit reporting bodies if me/us fail to pay the company).
					The company’s privacy policy and the credit reporting body’s privacy policy (see the I/Websites) have more information on how the company, and the
					credit reporting body, manages personal information, including creditworthiness information. The policies also include how the company can access,
					correct, and make complaints about personal information, request that my/our information is not used for credit pre-screening, and request a ban on use
					of credit information where the company have been a victim of fraud. <br><br>
					3. The customer must ensure that its customer account issued is available only to those of its employees authorized to use it. The customer
					acknowledges that it will be liable for all orders requested with the quotation of the account. <br><br>
					4. The company may withdraw credit facilities from the customer at any time without notice. Without limiting the company’s
					rights to withdraw credit, the company reserves the right to stop supply and place the account on hold. <br><br>
					5. Should it be considered necessary by the company to incur legal and/or other expenses (including commercial agent and private inquiry agent fees)
					in enforcement of the its rights or in obtaining or attempting to obtain payment of any amount due by me/us in consideration of the granting of credit to
					me/us, I/We expressly undertake to be liable for and reimburse the company on an indemnity basis the whole amount of such expenses and fees. <br><br>
					6.
					a. I/We acknowledge that property and all title in the goods supplied will remain wholly vested in the company until all monies owing by the Applicant to
					the company together with all collection and repossession and legal costs incurred and applicable taxes have been paid in full. <br><br>
					b. Until payment is made in full, the Applicant will hold the goods supplied as a bailee for and on behalf of the company. <br><br>
					c. All payments the Applicant may receive for a goods supplied will be held in trust for the company pending payment thereof to the company. <br><br>
					d. In the event that the Applicant fails to pay any monies owing to the company when due and payable, the company will be entitled forthwith and
					without notice to repossess all goods supplied by the company in the possession of the Applicant and for these purposes the Applicant or any other
					premises and retake possession of the goods held by the Applicant as aforesaid. The Applicant must forthwith account and make payments to the
					company of all and any monies held by it in respect to the proceeds of the sales of the goods. <br><br>
					e. Any claims arising from outstanding payments must be made within seven (7) days. The company shall have the right to charge a monthly interest of
					1.0% on any outstanding payments. <br><br>
					f. The remedies available to the company in this clause are without prejudice to any other remedies available to it at law or in equity. <br><br>
					A. DEFINITIONS:
					“I” and “Me” means the director who signs this document. <br><br>
					“I/We” and “Us” means each of the directors jointly and severally. <br><br>
					“The company” means CITYB2B PTY LTD (ABN: 87 655 992 966). <br><br>
					‘I/WE HAVE READ AND UNDERSTOOD THE TERMS AND CONDITIONS AND HAVE BEEN ADVISED, AND GIVEN OPPORTUNITY, TO SEEK INDEPENDENT
					LEGAL ADVICE.’ <br><br>

					GUARANTEE AND INDEMNITY
					<br><br>

					THIS IS A LEGAL DOCUMENT. PLEASE SEEK LEGAL ADVICE BEFORE SIGNING THIS DOCUMENT IF THE CUSTOMER IS IN ANY DOUBT AS TO ITS EFFECT
					AND MEANING.<br><br>
					TO: CITYB2B PTY LTD (ABN: 87 655 992 966) (hereinafter referred to as “the company”)<br><br>
					1. I/We guarantee payment to the company of all monies and performance of all obligations including any past, present and future indebtedness or
					obligation by the customer (as named in the “Credit Application” and which forms a part of this document) or any of us arising from any past, present or
					future dealing with the company.<br><br>
					2. I/We indemnify the company against all loss or damage arising from any past, present or future dealing with the customer or any of us.<br><br>
					3. I/We agree:<br><br>
					a. That this is a continuing guarantee and that our liability under this guarantee is joint and several and will not be affected, waived or discharged by
					the reason of any time or indulgences granted by the company and,<br><br>
					b. That our liability under this guarantee shall not be affected, waived or discharged by the customer entering into a Deed of Company Arrangement
					(DOCA) or by the company voting in favor of or against, or abstaining from voting, in relation to any proposal by the customer to enter a DOCA and,<br><br>
					c. That this guarantee becomes binding on such of us that sign this guarantee irrespective of whether or not all intended signatories execute this
					guarantee and,<br><br>
					d. That the company is entitled to recover against a Guarantor without having first taken steps to recover against the customer or any other Guarantor
					and,<br><br>
					e. That this guarantee may only be revoked as to future trading with the Applicant and any notice of revocation may only be given by pre-paid
					registered mail delivered to U5/ 20Ajax Rd Altona VIC 3018 until the expiration of 14 days from the date of posting.<br><br>
					f. That any payment which is subsequently avoided by any law relating to insolvency shall be deemed not to have been paid and,<br><br>
					g. That I/We sign in both our personal capacity and as Trustee of every Trust of which I/We are Trustee and/or a beneficiary and,<br><br>
					h. To notify the company of any change in the customer’s structure or management including any sale or disposition of any part of the business of the
					Customer, any change in directorships, shareholders or management or change in partnership or trusteeship within 7 days of the date of any such
					change.<br><br>
					4. I/We further agree that this agreement and any claim or dispute with the company, the customer or any of us shall be governed by the law
					applicable in the State of Australian Victoria and submit to the jurisdiction of the Court in Victoria.<br><br>
					A. DEFINITIONS:<br><br>
					“I/We” and “Us” means each of the Guarantors jointly and severally.<br><br>
					“The company” means CITYB2B PTY LTD (ABN: 87 655 992 966).<br><br>
					‘I/WE HAVE READ AND UNDERSTOOD THE GUARANTEE AND INDEMNITY AND HAVE BEEN ADVISED, AND GIVEN OPPORTUNITY, TO SEEK INDEPENDENT LEGAL
					ADVICE.’<br><br>






				</div>

			</div>


			<div class="bigBtn ma15 " onclick="window.history.go(-1);" style="width:90%;" > Return </div>
		</div>
	</body>
	<script>
		new Vue({
			el:"#kh",
			data:{
				isLanguageEn:1  //语言环境
			},
			mounted:function(){

				var _self =this;


				// 获得当前的语言环境
				this.isLanguageEn =parseInt('<{$user_setting}>');


			},
		    methods:{
				returnPage:function(){
					window.history.go(-1)
				},
				Kh:function(){
					window.location.href="signUp/signUp.htm"
				},
				register:function(){
					window.location.href="<{$http_root_www}>member/register"
				}
				
			}
		})	
	</script>
</html>
