/*-----------------[初始化]--------------*/

body{color: #333;line-height: 1.5;font-family:"微软雅黑","Microsoft Yahei";}

html{font-size: 30px}

a{color: #333;}

a:hover{color: #f60;text-decoration: none;}

img{max-width: 100%;}

.g-input{

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    color: #333;border:0;outline: 0;

    font-family:"微软雅黑","Microsoft Yahei";

}

.g-input::-webkit-input-placeholder {color: #ccc;}

.g-input::-moz-placeholder {color: #ccc; }

.g-input::-ms-input-placeholder {color: #ccc;}

.g-ul,.g-ul li{list-style: none;margin: 0;padding: 0;}





/*无选中效果*/



/*布局*/



.g-ul,.g-ul li{list-style: none;margin: 0;padding: 0;}





/*******************************

  -------[=头部]-------

********************************/

.a-txt{display: block;line-height: 1.5rem;text-align: center;font-size: .48rem;color: #808080;width: 2rem;}

.so-top{margin: 0 1.5rem;height: 1.1rem;margin-top: .2rem;}

.so-top .inp{width: 100%;height: 100%;display: block;border: 0;border-radius: .1rem;font-size: .48rem;

    background: #f0f0f0 url(../images/ico-so.png) no-repeat left center;padding: 0 .2rem 0 1.3rem;

    -o-background-size: 1.2rem auto;

    -ms-background-size: 1.2rem auto;

    -moz-background-size: 1.2rem auto;

    -webkit-background-size: 1.2rem auto;

    background-size: 1.2rem auto;

}







/*******************************

    -------[=正文]-------

********************************/

.bg-1{background-color: #f3f4f6;}



/*******************************

    -------[=首页]-------

********************************/

*{outline: none;}

a,img,input{-webkit-tap-highlight-color:rgba(255,255,255,0);}

/*banner*/

#banner{

    overflow: hidden;position: relative;   

}

#banner img{width: 100%;display: block;}



/*合作伙伴*/



/*团购*/



/*转盘*/



/*代购*/




/*分类导航*/

/*广告*/



/*电影娱乐*/



/*本地服务*/





/*店主推荐*/



/*爆款*/



/*秒抢*/





/*倒计时*/





/*

-----------------[购物车2]--------------*/



/*加减*/





/*

-----------------[商家-消息-详情]--------------*/



/*

-----------------[商家-商品-发布]--------------*/



/*城市选择*/









/*页码*/



/*搜索框*/

.box-so{

    position: fixed;left: 0;top: 0;z-index: 999;

    width: 100%;height: 100vh;

    -webkit-transform: translateX(100%);

    -ms-transform: translateX(100%);

    -o-transform: translateX(100%);

    transform: translateX(100%);

    -o-transition:.3s;

    -ms-transition:.3s;

    -moz-transition:.3s;

    -webkit-transition:.3s;

    transition:.3s;

}

.box-so .inner{

    background: #fff;

    padding: .2rem 0;

}

.box-so .a-txt{

    position: absolute;right: 0;top: 0;

}

.box-so .so-top{margin-top: 0;}










.open-so{overflow: hidden;}

.open-so .box-so{

    -webkit-transform: translateX(0);

    -ms-transform: translateX(0);

    -o-transform: translateX(0);

    transform: translateX(0);

}



********************************/

.m-so{padding: .3rem .2rem;}



.so-top-2{margin-left: .5rem;margin-right: 1.8rem;position: relative;}

.so-top-2 .inp{background-image: none;padding-left: 2.2rem;}

.ul-screen{background-color: #fff;}


********************************/

.m-so{background-color: #fff;padding: .2rem .5rem;height: 95%;overflow-y: scroll;}

.m-so h4{font-size: .48rem;margin: 0;height: .8rem;line-height: .8rem;overflow: hidden;margin-bottom: .2rem;}

.m-so ul{overflow: hidden;margin: 0 -.1rem;}

.m-so li{width: 33.33%;float: left;margin-bottom: .2rem;}

.m-so li a{height: 1rem;display: block;line-height: .98rem;border: 1px solid #e0e0e0;

    text-align: center;border-radius: .98rem;margin: 0 .1rem;font-size: .44rem;

}

.so-pop{display: none;}

.a-shop{line-height: 1.6rem;display: block;border-bottom: 1px solid #e0e0e0;

    font-size: .52rem;color: #808080;padding: 0 .5rem 0px 1.3rem;

    background: #fff url(../images/ico-001.png) no-repeat .5rem center;

    -o-background-size: .6rem auto;

    -ms-background-size: .6rem auto;

    -moz-background-size: .6rem auto;

    -webkit-background-size: .6rem auto;

    background-size: .6rem auto;

}

.con{
    max-width: 786px;
    margin: auto;
    background-color: #eee;
  }

  .header{
   
    width: 100%;
    top: 0px;
    z-index: 99;
    background-color: #FD5001 ;
    height: 1.33rem;
    align-items: center;
   
  }

  .header .back-icon{
    width: 1.33rem;
    line-height: 1.33rem;
    text-align: center;
    display: inline-block;
  }

  .header .search-box{
   width:70%;
    height: 0.66rem;
    line-height: 0.66rem;
    vertical-align: middle;
    border: 1px solid #eee;
    padding: 4px 11px;
    border-radius: 15px;
    margin-left: 1.5rem;
  }

  .header .user-icon, .header .search-icon{
     width: 0.9rem;
    line-height: 1.33rem;
    float: right;
    text-align: center;
  }


  .category-icon{
    padding: 0.168rem 0;
    text-align: center;
    background-color: #fff;
  }
  .category-icon .item{
    display: inline-block;
    width: 23%;
    position: relative;
    text-align: center;
  }

  .category-icon .item img{
    width: 40%;
  }

  .category-icon .item p{
    text-align: center;
    font-size: 13px;
  }


  .search-filter{
    background-color: #FD5001 ;
 }

  .search-filter.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
	height: 1.15rem;
    background-color: #FD5001 ;
  }
  .search-filter-menu{
    padding: 0.2rem 0.2rem;
    margin-top: 0.1rem;
    
  }

  .search-filter-menu .filter-menu{
     color: #4e4e4e;
    width: 24%;
    text-align: center;
    display: inline-block;      
  }

  .search-filter-menu .filter-menu.active{
    color:#06c1ae;
  }

  .search-filter-menu .filter-menu span{
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 80%;
      vertical-align: middle;
      text-overflow: ellipsis;
      font-size: 13px;
  }

  .search-by-list{
    max-height: 70vh;
    overflow-y: scroll;
    display: none;
    background-color: #fff;
  }

  .search-by-list .item{
    height: 1.4rem;
    line-height: 1.4rem;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
  }

  .search-by-list  a{
    color: inherit;
    text-decoration: none;
  }

  .search-by-list .item i{
    width: 1.17rem;
    text-align: center;
    visibility: hidden;
  }

  .search-by-list .item span{
    float: right;
    font-size: 10px;
    color: #aaa;
    margin-right: 0.66rem;
  }

  .search-by-list .item.active{
    color: #06c1ae;
  }
  .search-by-list .item.active i{
    visibility: visible;
  }

  .filter-section{
    border-bottom: 1px solid #ddd;
  }

  .filter-section p{
    font-size: 13px;
    display: inline-block;
    width: 133px;
    padding-left: 13px;
    margin: 0px;
  }
  .filter-section span{
   display: inline-block;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    border-radius: 3px;
    width: 20%;
    border: 1px solid #ddd;
    margin: 2%;
    font-size: 12px;
  }

  .filter-section span.selected{
    color:#06c1ae;
    border-color: #06c1ae;
    background-color: #06c1ae24;
  }

  .search-result{
    background-color: #fff;
    min-height: 600px;
  }

    .recommend{
    background-color: #fff;
    min-height: 600px;
  }
  .search-result .loading{
    display: none;
    text-align: center;
    line-height: 1rem;
    margin-bottom: 3rem;
  }

  .search-result .loading i{
    text-align: center;
    line-height: 1rem;
    width: 1rem;
    float: left;
    color: #06c1ae;
  }

  .clr-green{
    color: #06c1ae;
  }

  .clr-red{
    color:#e5393c;
  }

  .search-result .item{
    border-bottom: 1px solid #eee;
    height:5.5rem;
	margin-left: 8px;
	padding-top: 0.4rem;
  }

   .search-result .item .top-sec .left-sec1{
   float:left;
	    padding-left: 0.2rem;
		color: #FF9800;
	 
  }
  .search-result .item .top-sec .right-sec1{
   float:right;
  
  color: #a59696;
  padding-right: 0.9rem;
	 
  }
  .search-result .item .top-sec{
    height:1.1rem;
	width:100%;
    font-size: 0.4rem;
	 
  }
 
  .search-result .item .left-sec{
    display: inline-block;
    width: 95px;
    float: left;
    padding: 1%;
  }

  .search-result .item .left-sec img{
    width: 100%;
	padding: 0px;
  }

  .search-result .item .right-sec{
   
    padding: 2%;
    margin-left: 90px;
    position: relative;
  }



  
  .recommend .item{
    border-bottom: 1px solid #eee;
    height:5.5rem;
	margin-left: 8px;
	padding-top: 0.4rem;
  }

   .recommend .item .top-sec .left-sec1{
   float:left;
	    padding-left: 0.2rem;
		color: #FF9800;
	 
  }
  .recommend .item .top-sec .right-sec1{
   float:right;
  
  color: #a59696;
  padding-right: 0.9rem;
	 
  }
  .recommend .item .top-sec{
    height:1.1rem;
	width:100%;
    font-size: 0.4rem;
	 
  }
 
  .recommend .item .left-sec{
    display: inline-block;
    width: 95px;
    float: left;
    padding: 1%;
  }

  .recommend .item .left-sec img{
    width: 100%;
	padding: 0px;
  }

  .recommend .item .right-sec{
    width: 72%;
    padding: 2%;
    margin-left: 90px;
    position: relative;
  }

  
  
  
  
  
  
  .item .recommend-icon{
       position: absolute;
    color: #fff;
    background-color: rgba(255, 204, 51, 1);
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 25px;
    top: 0px;
    left: 0px;
    font-size: 10px; }
  

  .item .right-sec .title{
    font-size: 0.4rem;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 1.4rem; 
    margin-top: 0.1rem;	
  }

  .item .right-sec .title a{
      text-decoration: none;
      color: inherit;
  }

  .item .right-sec .businessName{
    font-size: 0.60rem;
    color: #06c1ae;
    font-weight: 700;
    margin-top: -0.3rem;
  }

  .item .right-sec .rating{
    display: inline-block;
  }

   .item .right-sec .rating img{
    width: 0.4rem;
  }

  .item .right-sec .price{
   font-size: 0.62rem;
   color: #FF9800;
    font-weight: 600;
	
	
  }

  .item .right-sec .price s{
    color: #726262;
    font-size: 0.37rem;
    font-weight: 200;
	padding-left: 0.2rem;
  }

  .item .right-sec .price em{
    width: 2rem;
    height: 1rem;
    border: 1px #FF9800 solid;
    color: #FF9800;
    font-size: 0.37rem;
    padding-left: 0.2rem;
  }
   .item .right-sec .price em1{
  
	
    color: #FD5001 ;
    font-size: 16px;
    float:right;
  }

.advance-filter-sec-btn .filter-btn{
  padding: 5px 12px;
  background-color: #2bb8aa;
  color: #fff;
  border-radius: 3px;
  margin: 0px 25px;
}

.coupon-addon{
  padding: 3px 12px 3px 90px;
  border-bottom: 1px solid #eee;
}

.coupon-addon span{
    padding: 0px 5px;
    border-radius: 10px;
    color: #aaa;
    font-size: 0.4rem;
}

.filter-display{
  padding: 5px;
}
.filter-display span{
    line-height: 0.8rem;
    white-space: nowrap;
    padding: 1px 10px;
    border-radius: 3px;
    background-color: #2bb8aa;
    color: #fff;
    margin: 3px;
    font-size: 0.35rem;
    display: inline-block;
}

.filter-display-clear{
    display: inline-block;
    background-color: #ef5858;
    color: #fff;
    padding: 1px 5px;
    margin: 3px;
    border-radius: 10px;
}

.swiper-pagination{
  z-index: 9;
}

.search-by-location-sec h5{
  font-weight: bolder;
    padding-left: 1.3rem;
}

.search-by-location-sec .item-inline{
    display: inline-block;
    height: auto;
    border: none;
    line-height: 1rem;
}

.add_fav.faved{
  background-color: #f30;
  color:#fff;
}

.fixed-footer{
  position: fixed;
  height: 1.6rem;
  width: 100%;
  bottom: 0px;
  right: 0px;
  background-color: rgb(251, 194, 61);
  padding:0.1rem 0px; 
}
.fixed-footer a{
  display: inline-block;
  color: #ddd;
  width: 18%;
  text-align:center; 
  text-decoration: none;
}
.fixed-footer a img{
  width: 28%;
}
.fixed-footer a p{
  color:#000;
  font-size: 0.37rem;
}

.subcoupon_display .item{
 height:3.5rem;
}
.subcoupon_display .item .left-sec{
    display: none;
}
.subcoupon_display .item .right-sec{
  padding:1%;
}
.subcoupon_display .item .right-sec .title a{
    font-size: 12px;
    color: #505050;
}

.subcoupon_display .item .right-sec .price,.subcoupon_display .item .right-sec .price em{
    font-size: 12px;
}

.subcoupon_display .item .right-sec .businessName{
    display: none;
}
.subcoupon_display .item .price em small{
    display: none;
}
.subcoupon_display .item .right-sec .add_fav {
    display: none;
}
.subcoupon_display .coupon-addon{
    display: none;
}
.referral-share .share-btn{
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255,191,0,0.7);
  padding: 5px 15px;
  z-index: 12;
}

.referral-share .share-display{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
}

.referral-share .share-display h2{
    color: #fff;
    padding: 30px;
    line-height: 100px;
    text-align: center;
}

.referral-share .top{
  height: 120px;
}
.referral-share .top img{
  width: 170px;
  position: absolute;
  right: 0px;
}
.referral-share .qrcode{
  text-align: center;
  padding: 50px 0px;
}
.referral-share .qrcode img{
  display: inline-block;
  width: auto;
}
.referral-share .bottom{
  text-align: center;
  width: 100%;
  height: 50px;
}
.referral-share .bottom .manage-share-link{
  background-color: #FD5001 ;
  padding: 10px 20px;
}

.fixMenu{position: fixed;left: 0;right: 0;bottom: 0;border-top: 1px solid #eee;

    background-color: #FD5001 ;overflow: hidden;z-index: 9999

}

.fixMenu li{width: 19.5%;float: left;}

.fixMenu li a{height: 1.68rem;display: block;text-align: center;font-size: .37rem;

    color: #000;padding-top: .1rem;

}

.fixMenu li i{width: 1rem;height: .9rem;display: block;margin: 0 auto;

    background-position: center center;background-repeat: no-repeat;

    -o-background-size: 1rem auto;

    -ms-background-size: 1rem auto;

    -moz-background-size: 1rem auto;

    -webkit-background-size: 1rem auto;

    background-size: 1rem auto;

}

.fixMenu li .ico1{background-image: url(../images/fix-01.png);}

.fixMenu li .ico2{background-image: url(../images/fix-02.png);}

.fixMenu li .ico3{background-image: url(../images/fix-03.png);}

.fixMenu li .ico4{background-image: url(../images/fix-04.png);}

.fixMenu li .ico5{background-image: url(../images/fix-05.png);}

.fixMenu li .ico7{position: relative;background-image: url(../images/fix-07.png);}
.fixMenu li .ico7 .after { position: absolute; font-size: 8px; padding: 2px; color: #fff; background-color: #f00; line-height: 8px; width: 12px; border-radius: 50%; height: 12px; font-style: normal; top: 0; right: -5px;}

.fixMenu li .ico8{background-image: url(../images/fix-08.png);}

.fixMenu li.on .ico1{background-image: url(../images/fix-01-on.png);}

.fixMenu li.on .ico2{background-image: url(../images/fix-02-on.png);}

.fixMenu li.on .ico3{background-image: url(../images/fix-03-on.png);}

.fixMenu li.on .ico4{background-image: url(../images/fix-04-on.png);}

.fixMenu li.on .ico5{background-image: url(../images/fix-05-on.png);}

.fixMenu li.on .ico7{background-image: url(../images/fix-07-on.png);}

.fixMenu li.on a{color: #FD5001 ;}
